{% extends 'base.html' %}
{% block title %}About - {{ user.blogname }}{% endblock %}
{% block meta_tags %}
  <meta name="description"
        content="BlogYourWay, the all-in-1 blogging platform.">
  <meta property="og:title" content="About - {{ user.blogname }}">
  <meta property="og:description"
        content="BlogYourWay, the all-in-1 blogging platform.">
  <meta property="og:image" content="{{ user.cover_url }}">
  {% if "localhost" in request.host %}
    <meta property="og:url"
          content="{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% else %}
    <meta property="og:url"
          content="https://{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="BlogYourWay">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block body %}
  {% include 'frontstage/navbar.html' %}
  {% include 'frontstage/cover.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-lg-7 col-xl-6 col-10 mx-auto mt-16">
        <div class="row content-min-height">
          <div class="col-xl-8 col-12">
            <div class="display-2 fw-bold">about.</div>
            {% if about | length == 0 %}
              <div class="mt-5 mb-3">Well... Looks like there's nothing here yet.</div>
            {% else %}
              <div class="mt-5 mb-3">{{ about | safe }}</div>
            {% endif %}
          </div>
          <!-- bio column -->
          <div class="col-4 d-none d-xl-block">
            <div class="d-flex justify-content-center">
              <img src="{{ user.profile_img_url }}"
                   alt="profile-img"
                   class="profile-xxl img-thumbnail mx-auto">
            </div>
            <div class="text-center mt-4">
              <h3>{{ user.blogname }}</h3>
            </div>
            <div class="row">
              <div class="col-4 mx-auto">
                <hr>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-8 mx-auto text-center">
                {% if user.short_bio|length == 0 %}
                  <p>Edit your short bio in the 'About' panel over the backstage.</p>
                {% else %}
                  <p>{{ user.short_bio }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <div class="text-center border-top my-5 pt-3">
          <p>
            Total views since <span class="utc-to-local-medium">{{ user.created_at }}</span>:
            <span class="count">{{ user.total_views }}</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% include 'frontstage/footer.html' %}
{% endblock %}
