{% extends 'base.html' %}
{% block title %}About - {{ user.blogname }}{% endblock %}
{% block meta_tags %}{% endblock %}
{% block body %}
  {% include 'frontstage/navbar.html' %}
  {% include 'frontstage/cover.html' %}
  <div class="container-fluid fill-up-space">
    <div class="row">
      <div class="col-lg-5 col-11 mx-auto">
        <div class="mt-5 border-bottom">
          <h1>About Me</h1>
        </div>
        <div class="mt-5 border-bottom">
          {% if about|length == 0 %}
            <p>Well... it seems there's nothing here yet.</p>
          {% else %}
            {{ about|safe }}
          {% endif %}
        </div>
        <div class="mt-5">
          <p>
            Total views since <span class="utc-to-local-medium">{{ user.created_at }}</span>:
            <span class="count">{{ user.total_views }}</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% include 'frontstage/footer.html' %}
{% endblock %}
