{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block meta_tags %}
  <meta property="og:title" content="{{ post.title }}">
  <meta name="description" content="{{ post.subtitle }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ url_for(request.endpoint, **request.view_args) }}">
  {% if post.cover_url != "" %}
  <meta property="og:image" content="{{ post.cover_url }}" />
  {% else %}
  <meta property="og:image" content="{{ user.cover_url }}" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="zh_TW" />
{% endblock %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/frontstage/blogpost.css') }}">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="preconnect" href="https://www.google.com" />
  <link rel="preconnect" href="https://www.gstatic.com" crossorigin />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
  <script src="{{ url_for('static', filename='js/frontstage/blogpost.js') }}"
          defer></script>
{% endblock %}
{% block body %}
  {% include 'frontstage/navbar.html' %}
  <!-- post starts -->
  <div class="container-fluid">
    <div class="row mt-5 pt-5">
      <div class="col-xxl-5 col-xl-7 col-lg-9 col-11 mx-auto">
        <h1 class="text-start fw-bold">{{ post.title }}</h1>
        <h5 class="text-start text-grey mt-3">{{ post.subtitle }}</h5>
        <!-- info row -->
        <div class="row mt-3 align-items-center gx-3">
          <div class="col-auto">
            <a href="{{ url_for('frontstage.about', username=user.username) }}">
              <img class="profile-md" src="{{ user.profile_img_url }}" alt="profile-img" />
            </a>
          </div>
          <div class="col me-auto">
            <div class="lh-sm">
              <span class="text-grey"><span class="utc-to-local-short">{{ post.last_updated }}</span>&nbsp;&nbsp;·&nbsp;&nbsp;{{ post.readtime }}</span>
              <br />
              By
              <a class="author-link"
                 href="{{ url_for('frontstage.about', username=user.username) }}">{{ post.author }}</a>
            </div>
          </div>
        </div>
        <!-- cover -->
        {% if post.cover_url != "" %}
          <img src="{{ post.cover_url }}"
               class="img-fluid rounded mt-4 mx-auto d-block w-100"
               alt="cover_url" />
        {% endif %}
        <!-- content start -->
        <div class="my-4 blogpost-content">{{ post.content | safe }}</div>
        <!-- tag start -->
        <div class="d-flex align-items-center mb-4 text-dark-grey fs-large">
          <span><i class="fa-solid fa-tags"></i></span>
          {% for tag in post.tags %}
            <a href="{{ url_for('frontstage.tag', username=user.username, tags=tag) }}">
              <span class="badge tag ms-2">{{ tag }}</span>
            </a>
          {% endfor %}
        </div>
        <hr class="mb-4" />
        <h3 class="mb-3">Leave a Comment</h3>
        <form method="POST" autocomplete="off" id="comment-form">
          {{ form.hidden_tag() }}
          {% if current_user.is_authenticated %}
            <p>
              You are logged in as
              <span class="fw-bold">{{ current_user.username }}</span>.
            </p>
            {{ form.name(class="form-control", id="comment-name", hidden=True, value=user.username) }}
          {% else %}
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="comment-name" class="form-label">
                  Name <span class="text-danger">*</span>
                </label>
                {{ form.name(class="form-control", id="comment-name") }}
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="comment-email" class="form-label">Email Address</label>
                {{ form.email(class="form-control", id="comment-email") }}
              </div>
            </div>
          {% endif %}
          <div class="mb-3">
            {{ form.comment.label(class="form-label") }}
            {{ form.comment(class="form-control", rows=3) }}
          </div>
          <div class="text-end mb-4">{{ form.submit_(class="g-recaptcha btn w-25 bg-dark text-white") }}</div>
        </form>
        <hr class="mb-4" />
        <h3 class="mb-3">Comments</h3>
        {% if comments|length == 0 %}
          <p class="mb-5">Not comment yet!</p>
        {% else %}
          <div class="mb-5">
            {% if comments | length == 1 %}
              <h5 class="text-start my-4 fw-bold text-dark-grey">1 comment</h5>
            {% else %}
              <h5 class="text-start my-4 fw-bold text-dark-grey">{{ comments|length }} comments</h5>
            {% endif %}
            {% for comment in comments %}
              {% if comment.profile_link | length != 0 %}
                <!-- registered user -->
                <div class="mb-4 d-flex flex-row">
                  <a href="{{ comment.profile_link }}">
                    <img class="profile-lg ajax-profile-pic"
                         src="{{ comment.profile_img_url }}"
                         alt="profile-img" />
                  </a>
                  <div class="ms-3">
                    <div class="mt-2">
                      <a href="{{ comment.profile_link }}" class="text-black"><span class="fw-bold">{{ comment.name }}</span></a>
                      <span class="text-dark-grey">on <span class="utc-to-local-medium">{{ comment.created_at }}</span></span>
                    </div>
                    <div>{{ comment.comment }}</div>
                  </div>
                </div>
              {% else %}
                <!-- visitor -->
                <div class="mb-4 d-flex flex-row">
                  <img class="profile-lg"
                       src="{{ comment.profile_img_url }}"
                       alt="profile-img" />
                  <div class="ms-3">
                    <div class="mt-2">
                      <span class="fw-bold">{{ comment.name }}</span>
                      <span class="text-dark-grey">on <span class="utc-to-local-medium">{{ comment.created_at }}</span></span>
                    </div>
                    <div>{{ comment.comment }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'frontstage/footer.html' %}
{% endblock %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
          async=""></script>
{% endblock %}
