<footer class="bg-dark text-white py-5 footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <div class="d-md-block d-none">
          <hr class="my-4" />
        </div>
        <div class="row">
          <div class="col-md-6 text-md-start text-center ">
            <p class="small">
              &copy; <span id="yearTag"></span> {{ user.blogname }}. Powered by
              <a href="/" class="text-light-grey">BlogYourWay</a>&nbsp;&nbsp;<i class="fa-solid fa-face-smile"></i>
            </p>
          </div>
          <div class="col-md-0 d-md-none d-block">
            <hr class="my-4" />
          </div>
          <div class="col-md-6 text-md-end text-center">
            <h3>
              {% for pair in user.social_links %}
                {% if pair %}
                  {% if pair[1] == "facebook" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-facebook"></i></a>
                  {% elif pair[1] == "instagram" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-instagram"></i></a>
                  {% elif pair[1] == "twitter" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-x-twitter"></i></a>
                  {% elif pair[1] == "medium" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-medium"></i></a>
                  {% elif pair[1] == "linkedin" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-linkedin-in"></i></a>
                  {% elif pair[1] == "github" %}
                    <a href="{{ pair[0] }}" class="text-light-grey mx-2"><i class="fa-brands fa-github"></i></a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
