{% extends 'base.html' %}
{% block title %}{{ user.blogname }} - BlogYourWay{% endblock %}
{% block meta_tags %}
  <meta name="description" content="This is my website {{ user.blogname }} on BlogYourWay">
  <meta property="og:title" content="{{ user.blogname }} - BlogYourWay">
  <meta property="og:description" content="This is my website {{ user.blogname }} on BlogYourWay">
  <meta property="og:image" content="{{ user.cover_url }}">
  <meta property="og:url" content="{{ url_for(request.endpoint, **request.view_args) }}">  
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="BlogYourWay">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block body %}
  {% include 'frontstage/navbar.html' %}
  {% include 'frontstage/cover.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <div class="row content-min-height">
          <!-- post-column -->
          <div class="col-lg-8 col-12 mx-auto mt-4">
            {% if posts|length != 0 %}
              <h5 class="mt-4 ms-2 fw-bold text-dark-grey">Featured Posts</h5>
              {% for post in posts %}
                <div class="ms-lg-2 ms-0 my-4 p-4 bg-white border rounded-3">
                  <a href="{{ url_for('frontstage.blogpost', username=post.author, post_uid=post.post_uid) }}"
                     class="title-link">
                    <h3 class="fw-bold">{{ post.title }}</h3>
                  </a>
                  <div class="d-flex align-items-center my-3">
                    <div class="text-grey">
                      on <span class="utc-to-local-short">{{ post.created_at }}</span>
                    </div>
                  </div>
                  <div class="mb-3">{{ post.subtitle }}</div>
                  <div class="d-flex align-items-center text-dark-grey fs-large">
                    <span><i class="fa-solid fa-tags"></i></span>
                    {% for tag in post.tags %}
                      <a href="{{ url_for('frontstage.tag', username=post.author, tags=tag) }}"><span class="badge tag ms-2">{{ tag }}</span></a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <h5 class="mt-4 ms-2 fw-bold text-dark-grey">No featured posts yet!</h5>
            {% endif %}
          </div>
          <!-- bio column -->
          <div class="d-none d-lg-block col-lg-4 mt-16">
            <div class="d-flex justify-content-center">
              <img src="{{ user.profile_img_url }}"
                   alt="profile-img"
                   class="profile-xxl img-thumbnail">
            </div>
            <div class="text-center mt-4">
              <h3>{{ user.blogname }}</h3>
            </div>
            <div class="row">
              <div class="col-4 mx-auto">
                <hr>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-8 mx-auto text-center">
                {% if user.short_bio|length == 0 %}
                  <p>Edit your short bio in the 'About' panel over the backstage.</p>
                {% else %}
                  <p>{{ user.short_bio }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="border border-1 text-center py-2 my-3 bg-light-grey bottom-nav">
          <a href="{{ url_for('frontstage.blog', username=user.username) }}"
             class="btn">View more posts</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'frontstage/footer.html' %}
{% endblock %}
