<nav class="navbar navbar-expand-md bg-white shadow sticky-top pt-3 pb-3">
  <div class="container">
    <a class="navbar-brand navbar-brand-ms fs-4 fw-bold"
       href="{{ url_for('frontstage.home', username=user.username) }}">{{ user.blogname }}</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item">
          <a class="nav-link ms-2"
             href="{{ url_for('frontstage.blog', username=user.username) }}">Blog</a>
        </li>
        {% if user.gallery_enabled %}
          <li class="nav-item">
            <a class="nav-link ms-2"
               href="{{ url_for('frontstage.gallery', username=user.username) }}">Gallery</a>
          </li>
        {% endif %}
        {% if user.changelog_enabled %}
          <li class="nav-item">
            <a class="nav-link ms-2"
               href="{{ url_for('frontstage.changelog', username=user.username) }}">Changelog</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link ms-2"
             href="{{ url_for('frontstage.about', username=user.username) }}">About</a>
        </li>
      </ul>
      <ul class="navbar-nav me-5">
        {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link ms-2 dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">@{{ user.username }}</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item"
                   href="{{ url_for("backstage.root") }}">Backstage</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for("backstage.logout") }}">Logout</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link ms-2 btk" href="{{ url_for("main.login") }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
