blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.hljs {
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Optional: space inside the border */
}

/* TOC container */
.toc {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
}

/* TOC title */
.toc h3 {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* TOC list */
.toc ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.toc ul li {
  margin: 5px 0;
  padding-left: 5px; /* Add padding to the left */
}

/* TOC links */
.toc ul li a {
  text-decoration: none;
  color: #0073e6;
  display: block;
  padding: 5px;
  border-radius: 3px;
}

.toc ul li a:hover {
  text-decoration: underline;
  background-color: #e6f2ff;
}

/* Nested lists */
.toc ul ul {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

/* Custom styles for different heading levels */
.toc ul li.toclevel-1 > a {
  font-weight: bold;
}

.toc ul li.toclevel-2 > a {
  font-weight: normal;
}

.toc ul li.toclevel-3 > a {
  font-weight: lighter;
}
