blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.info-row-line-height {
  line-height: 125%;
}

/* .cover {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

.cover-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font:
    italic smaller "Ubuntu",
    sans-serif;
  padding: 3px;
  text-align: center;
} */

.submit-btn {
  text-align: left;
  background-color: #212529;
  color: white;
  border: 0px;
}

.submit-btn:hover {
  background-color: rgb(150, 150, 150);
  color: white;
}
