/* base */
body {
  font-family: "Ubuntu", "Noto Sans TC", sans-serif;
}

.toast {
  opacity: 1 !important;
  border-radius: 10px;
}

.toast-header {
  border-radius: 9px 9px 0px 0px;
  font-size: 16px;
}

.toast-body {
  font-size: 16px;
}

.cover-container {
  width: 100%;
  height: calc(100vw / 3);
  min-height: 250px;
  margin-top: -10px;
  background-size: cover; /* This will maintain the aspect ratio and crop the image */
  background-position: center; /* This will center the image within the container */
}

/* footer */

footer {
  background-color: #090909;
  color: lightgray;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin: 0;
}

/* navbar.html */

.navbar-brand-ms {
  margin-left: 2.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 20px;
  overflow-y: auto;
  font-family: "Ubuntu", "Noto Sans TC", sans-serif;
}
.sidebar hr {
  border-top: 1px solid #fff;
  margin: 20px 0;
}
.sidebar .btn {
  margin-bottom: 10px;
  text-align: left;
  background-color: #333;
  color: white;
  border: 0px;
}
.sidebar .btn:hover {
  background-color: #6c757d;
}

.mobile-nav .btn {
  margin-bottom: 10px;
  text-align: left;
  background-color: #333;
  color: rgb(140, 140, 140);
  border: 0px;
}

.main-panel {
  position: relative;
  margin-top: 0;
  margin-left: 250px;
  width: calc(100vw - 262px);
  overflow-y: auto;
  height: 100vh;
}

/* profile pics */

img.profile-xxl {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
}

img.profile-xl {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

img.profile-lg {
  width: 3.7rem;
  height: 3.7rem;
  object-fit: cover;
  border-radius: 50%;
}

img.profile-md {
  width: 3.1rem;
  height: 3.1rem;
  object-fit: cover;
  border-radius: 50%;
}

img.profile-sm {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

/* blogpost */

.header-link {
  text-decoration: none;
  color: #333;
}

.header-link:hover {
  text-decoration: underline;
  color: #f7966b;
}

.author-link {
  text-decoration: none;
  color: #333;
  font-size: large;
}

/* Add underline on hover */
.author-link:hover {
  text-decoration: underline;
  color: #333;
}

.grey-text {
  color: rgb(100, 100, 100);
}

.badge-custom {
  background-color: rgb(150, 150, 150);
}

.badge-custom:hover {
  background-color: #f7966b;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* input form */

.border-underline {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.label-text {
  font-style: italic;
  color: rgb(120, 120, 120);
}


.nav-item.dropdown .dropdown-item:active {
  background-color: #f7966b !important;
}

/* deal with screen size */
/* medium width */

@media (max-width: 768px) {
  .navbar-brand-ms {
    margin-left: 0.4rem;
  }

  .main-panel {
    margin-left: 0;
    width: 100%;
    height: 93vh;
  }
}
