{% extends 'panel.html' %}

{% block panel %}
<div class="d-flex align-items-center">
	<h2 class="ms-2">Archives</h2>
</div>
<hr>
<!-- description -->
<p class="ms-2">Posts and works archived will not be seen in your website.</p>
<!-- description ends -->
<table class="table">
	<caption class="ms-2">Posts</caption>
	<thead>
		<tr>
			<th style="width: 44%">Title</th>
			<th style="width: 20%">Created At</th>
			<th style="width: 10%" class="text-center">Clicks</th>
			<th style="width: 10%" class="text-center">Comments</th>
			<th style="width: 8%" class="text-center">Go Live</th>
			<th style="width: 8%" class="text-center">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>
			<!-- to-do: add post's link to post's title -->
			<td>{{ post['title'] }}			
			</td>
			<td>{{ post['created_at'] }}</td>
			<td class="text-center">{{ post['clicks'] }}</td>
			<td class="text-center">{{ post['comments'] }}</td>			
			{% set set_archived_link = '/backstage/edit-archived?archived=to_false&uid=' %}
			<td class="text-center"><a href="{{ set_archived_link ~ post.post_uid }}" style="color: black; font-size: 18px;"><i class="fa-regular fa-thumbs-up"></i></a></td>
			{% set delete_link = '/backstage/delete/post?&uid=' %}
			<td class="text-center"><a href="{{ delete_link ~ post.post_uid }}" style="color: black; font-size: 18px;"><i class="fa-solid fa-trash-can"></i></a></td>
		</tr>		
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block script %}
<script>
	const mobile_nav_btn = document.getElementById('mobile-nav-archive');
	mobile_nav_btn.style.color = 'white';
</script>
{% endblock %}