{% extends 'panel.html' %}

{% block panel %}
<!-- desktop view -->
<div class="d-none d-md-block">
	<div style="height: 53px; margin-top: 20px;">
		<h1 class="ms-2">Welcome back, {{ user.username }}!</h1>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<p class="ms-2">You have joined Little blog for {{ days_joined }} days.&nbsp;&nbsp;🎉️</p>
			<h3 class="py-1" style="border-left: 0.7rem solid #f7966b;">&nbsp;&nbsp;Visitors</h3>
			<div class="row">
				<div class="col-6 col-lg-3 py-3">
					<div class="card rounded-4">
						<div class="card-body">
							<h5 class="card-title">Total</h5>
							<p class="card-text" id="stats-total">0</p>						
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-2 py-3">
					<div class="card rounded-4">
						<div class="card-body">
							<h5 class="card-title">Home</h5>
							<p class="card-text" id="stats-home">0</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-2 py-3">
					<div class="card rounded-4">
						<div class="card-body">
							<h5 class="card-title">Blog</h5>
							<p class="card-text" id="stats-blog">0</p>						
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 py-3">
					<div class="card rounded-4">
						<div class="card-body">
							<h5 class="card-title">Portfolio</h5>
							<p class="card-text" id="stats-portfolio">0</p>						
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-2 py-3">
					<div class="card rounded-4">
						<div class="card-body">
							<h5 class="card-title">About</h5>
							<p class="card-text" id="stats-about">0</p>						
						</div>
					</div>
				</div>
			</div>
			<div style="height: calc(100vh/4);">
				<!-- Create a canvas element where the line chart will be rendered -->
				<canvas id="daily-count-chart"></canvas>
			</div>
			<h3 class="my-3 py-1" style="border-left: 0.7rem solid #f7966b;">&nbsp;&nbsp;Popular Posts</h3>
		</div>
	</div>
</div>
<!-- mobile view -->
<div class="d-block d-md-none">
	<h2 class="ms-2">Welcome back, {{ user.username }}!</h2>

</div>

{% endblock %}

{% block script %}
<script>
	// Access the data passed from Flask
	const daily_count = JSON.parse('{{ daily_count | tojson }}');
	const lineChart = new Chart(
		document.getElementById('daily-count-chart'),
		{
			type: 'line',
			data: {
				labels: daily_count.labels,
				datasets: [{
					label: 'daily unique visitors', 
					data: daily_count.data,
					fill: false,
					backgroundColor: "#f5ae8e",
					borderColor: "#f7966b",
					borderWidth: 1,
					lineTension: 0.15 // Adjust the value to control the curvature (0.1 to 1)
				}]
			},
			options: {
				maintainAspectRatio: false,
				scales: {
					x: {
						display: true,
						ticks: {
							autoSkip: true,
							maxTicksLimit: 5, // Show only 5 date labels
						}
					}

				}
			}			
		}
	)	
</script>

<script>
	const total = new countUp.CountUp('stats-total', Number("{{ visitor_stats['total'] }}"));
	const home = new countUp.CountUp('stats-home', Number("{{ visitor_stats['home'] }}"));
	const blog = new countUp.CountUp('stats-blog', Number("{{ visitor_stats['blog'] }}"));
	const portfolio = new countUp.CountUp('stats-portfolio', Number("{{ visitor_stats['portfolio'] }}"));
	const about = new countUp.CountUp('stats-about', Number("{{ visitor_stats['about'] }}"));

	total.start();
	home.start();
	blog.start();
	portfolio.start();
	about.start();

</script>
{% endblock %}