.banner-container {
	width: 100%;
	height: calc(100vw / 3);
	min-height: 300px;
	background-size: cover; /* This will maintain the aspect ratio and crop the image */
  	background-position: center; /* This will center the image within the container */
}
  

/* navbar.html */

.navbar-custom {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	padding-top: 10px; /* Adjust the top padding as needed */
	padding-bottom: 10px; /* Adjust the bottom padding as needed */
	font-family: 'Ubuntu', 'Noto Sans TC', sans-serif;
}

.navbar-custom .navbar-toggler {
	padding: 0.25rem 0.5rem; /* Adjust the padding of the toggle button as needed */
}

.navbar-custom .navbar-toggler-icon {
	line-height: 1; /* Adjust the line-height of the toggle button icon as needed */
}

.navbar-custom .navbar-nav .nav-link {
	line-height: 1.5; /* Adjust the line-height of the nav links as needed */
}

.navbar-custom .social-icons .nav-link {
	font-size: 24px; /* Adjust the font size as needed */
}

/* panel.html */

.sidebar {
	position: fixed;
	top: 0px;
	left: 0;
	bottom: 0;
	background-color: #333;
	color: #fff;
	width: 250px;
	padding: 20px;
	overflow-y: auto;
	font-family: 'Ubuntu', 'Noto Sans TC', sans-serif;
}
.sidebar hr {
	border-top: 1px solid #fff;
	margin: 20px 0;
}
.sidebar .btn {
	margin-bottom: 10px;
	text-align: left;
	background-color: #333;
	color: white;
	border: 0px;
}
.sidebar .btn:hover {
	background-color: #6c757d;
}

.mobile-nav .btn {
	margin-bottom: 10px;
	text-align: left;
	background-color: #333;
	color: rgb(140, 140, 140);
	border: 0px;
}

.main-panel {
	position: relative;
	margin-top: 0;
	margin-left: 250px;
	width: calc(100vw - 262px);
	overflow-y: auto;
	max-height: 100vh;
}

.panel-btn {
	text-align: left;
	background-color: #333;
	color: white;
	border: 0px;
}
.panel-btn:hover {
	background-color: #6c757d;
	color: white;
}

/* profile pics */

img.profile-xxl {
	width: 12rem;
	height: 12rem;
	object-fit: cover;
	border-radius:50%
}

img.profile-xl {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border-radius:50%
}

img.profile-lg {
	width: 3.7rem;
	height: 3.7rem;
	object-fit: cover;
	border-radius: 50%;
}

img.profile-md {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius:50%
}

img.profile-sm {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 50%;
}

/* blogpost */

.header-link {
	text-decoration: none;
	color: #333;
}

.header-link:hover {
	text-decoration: underline;
	color: #f7966b;
}


.author-link {
	text-decoration: none;
	color: #333;
	font-size: large;
}

/* Add underline on hover */
.author-link:hover {
	text-decoration: underline;
	color: #333;
}

.date-text {
	color: rgb(100, 100, 100)
}

.badge-custom {
	color: rgb(100, 100, 100);
	background-color: rgb(197, 197, 197);
}

.badge-custom:hover {
	color: white;
	background-color: #f7966b;
} 

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}

/* input form */

.border-underline {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.label-text {
	font-style: italic;
	color:rgb(120, 120, 120);
}



/* deal with screen size */
/* medium width */

@media (max-width: 768px) { 
	.navbar-custom .navbar-nav {
		flex-direction: column;
	}

	.navbar-custom .nav-item {
		text-align: center;
	}

	.navbar-custom .social-icons {
		display: none;
	}

	.main-panel {
		margin-left: 0;
		width: 100%;
	}
}