.navbar-custom {
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 20px; /* Adjust the top padding as needed */
	padding-bottom: 20px; /* Adjust the bottom padding as needed */
	font-family: 'Ubuntu', sans-serif;
}

.navbar-custom .navbar-toggler {
	padding: 0.25rem 0.5rem; /* Adjust the padding of the toggle button as needed */
}

.navbar-custom .navbar-toggler-icon {
	line-height: 1; /* Adjust the line-height of the toggle button icon as needed */
}

.navbar-custom .navbar-nav .nav-link {
	line-height: 1.5; /* Adjust the line-height of the nav links as needed */
}

.navbar-custom .social-icons .nav-link {
	font-size: 24px; /* Adjust the font size as needed */
}

/* medium width */
@media (max-width: 768px) { 
	.navbar-custom .navbar-nav {
		flex-direction: column;
	}

	.navbar-custom .nav-item {
		text-align: center;
	}

	.navbar-custom .social-icons {
		display: none;
	}
}