
/* navbar.html */

.navbar-custom {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	padding-top: 20px; /* Adjust the top padding as needed */
	padding-bottom: 20px; /* Adjust the bottom padding as needed */
	font-family: 'Ubuntu', 'Arial', sans-serif;
}

.navbar-custom .navbar-toggler {
	padding: 0.25rem 0.5rem; /* Adjust the padding of the toggle button as needed */
}

.navbar-custom .navbar-toggler-icon {
	line-height: 1; /* Adjust the line-height of the toggle button icon as needed */
}

.navbar-custom .navbar-nav .nav-link {
	line-height: 1.5; /* Adjust the line-height of the nav links as needed */
}

.navbar-custom .social-icons .nav-link {
	font-size: 24px; /* Adjust the font size as needed */
}

/* panel.html */

.sidebar {
	position: fixed;
	top: 80px;
	left: 0;
	bottom: 0;
	background-color: #333;
	color: #fff;
	width: 250px;
	padding: 20px;
	overflow-y: auto;
	font-family: 'Ubuntu', 'Arial', sans-serif;
}
.sidebar hr {
	border-top: 1px solid #fff;
	margin: 20px 0;
}
.sidebar .btn {
	margin-bottom: 10px;
	text-align: left;
	background-color: #333;
	color: white;
	border: 0px;
}
.sidebar .btn:hover {
	background-color: #6c757d;
}

.sidebar-small {
	position: fixed;
	top: 80px;
	left: 0;
	bottom: 0;
	background-color: #333;
	color: #fff;
	width: 80px;
	padding: 20px;
	overflow-y: auto;
	font-family: 'Ubuntu', 'Arial', sans-serif;
}

.sidebar-small hr {
	border-top: 1px solid #fff;
	margin: 20px 0;
}
.sidebar-small .btn {
	margin-bottom: 10px;
	text-align: center;
	background-color: #333;
	color: white;
	border: 0px;
	font-size: 18px;
}
.sidebar-small .btn:hover {
	background-color: #6c757d;
}

.main-panel {
	position: relative;
	margin-top: 80px;
	margin-left: 250px;
	width: calc(100vw - 262px);
	overflow-y: auto;
	max-height: calc(100vh - 80px); /* Subtract navbar height from viewport height */
}

.panel-btn {
	text-align: left;
	background-color: #333;
	color: white;
	border: 0px;
}
.panel-btn:hover {
	background-color: #6c757d;
	color: white;
}

/* deal with screen size */
/* medium width */

@media (max-width: 768px) { 
	.navbar-custom .navbar-nav {
		flex-direction: column;
	}

	.navbar-custom .nav-item {
		text-align: center;
	}

	.navbar-custom .social-icons {
		display: none;
	}

	.main-panel {
		margin-left: 80px;
		width: calc(100vw - 92px);
	}
}