{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/main/500.css') }}">
{% endblock %}
{% block title %}500 Internal Server Error - BlogYourWay{% endblock %}
{% block body %}
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="offset-1 col-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Logo"
             width="36"
             height="36">
      </div>
      <div class="col-auto">
        <a href="{{ url_for("main.landing_page") }}"
           class="text-decoration-none text-black">
          <h3 class="fw-bold pt-2">BlogYourWay</h3>
        </a>
      </div>
    </div>
  </div>
  <!-- desktop -->
  <div class="container d-none d-xxl-block">
    <div class="row pt-5 d-flex align-items-center error-message-container">
      <div class="col-6">
        <img class="img-fluid"
             src="{{ url_for('static', filename='img/500.jpg') }}"
             alt="internal server error" />
      </div>
      <div class="col-6">
        <h1 class="display-4 fw-bold">Internal Server Error</h1>
        <p class="mt-4 fs-5">
          Something went wrong. We're looking to see what
          happened.
        </p>
        <p onclick="window.history.go(-1); return false;"
           class="hover-pointer fs-5">
          <u>👉 Go to the previous page</u>
        </p>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="container d-block d-xxl-none">
    <div class="row pb-5">
      <div class="col-lg-8 col-10 mx-auto mt-5 mb-3">
        <h1 class="display-4 fw-bold">Internal Server Error</h1>
      </div>
      <div class="col-lg-10 col-12 mx-auto my-2">
        <img class="img-fluid"
             src="{{ url_for('static', filename='img/500.jpg') }}"
             alt="internal server error" />
      </div>
      <div class="col-lg-8 col-10 mx-auto">
        <p class="mt-4 fs-5">
          Something went wrong. We're looking to see what
          happened.
        </p>
        <p onclick="window.history.go(-1); return false;"
           class="hover-pointer fs-5">
          <u>👉 Go to the previous page</u>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
