{% extends 'base.html' %}
{% block title %}Login - BlogYourWay{% endblock %}
{% block meta_tags %}
  <meta name="description"
        content="Host all your blogposts and projects at one place.">
  <meta property="og:title" content="Login - BlogYourWay">
  <meta property="og:description"
        content="Host all your blogposts and projects at one place.">
  <meta property="og:image"
        content="{{ url_for('static', filename='img/landing.jpg') }}">
  {% if "localhost" in request.host %}
    <meta property="og:url"
          content="{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% else %}
    <meta property="og:url"
          content="https://{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="BlogYourWay">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/main/login.css') }}">
{% endblock %}
{% block body %}
  <div class="container login-container">
    <div class="row">
      <div class="col-10 col-md-12 mx-auto">
        <div class="card bg-white shadow">
          <div class="card-body">
            <div class="container mb-4">
              <div class="row justify-content-center">
                <div class="me-auto col-auto logo">
                  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                  <h3 class="fw-bold pt-2">BlogYourWay</h3>
                </div>
              </div>
            </div>
            <h5 class="text-center my-4">Login</h5>
            <form method="post">
              {{ form.hidden_tag() }}
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                {{ form.email(class_="form-control") }}
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                {{ form.password(class_="form-control") }}
              </div>
              {{ form.submit_(class_="btn btn-orange w-100 rounded-pill") }}
            </form>
            <div class="text-center mt-4">
              Don't have an account? <a href="{{ url_for("main.signup") }}">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
