body {
  background-color: #f5f5f5;
}

.login-container {
  margin-top: calc(100vh * 0.2);
}

.card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  max-height: 36px; /* Adjust based on your logo size */
  margin-right: 10px;
}

.btn-orange {
  background-color: #e4622f;
  color: #ffffff;
}
