{% extends 'panel.html' %}

{% block panel %}
<div class="d-flex align-items-center">
	<h2 class="ms-2">Posts</h2>
	<button class="btn panel-btn ms-auto me-3" data-bs-toggle="modal" data-bs-target="#myModal">+ New Post</button>
</div>
<hr>
<table class="table">
	<thead>
		<tr>
			<th style="width: 40%">Title</th>
			<th style="width: 20%">Created At</th>
			<th style="width: 10%">Clicks</th>
			<th style="width: 10%">Comments</th>
			<th style="width: 10%">Featured</th>
			<th style="width: 10%">Archieve</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>
			<td>{{ post['title'] }}
			{% if post['featured'] %}
			
			{% endif %}
			</td>
			<td class="datetime">{{ post['created_at'] }}</td>
			<td>{{ post['clicks'] }}</td>
			<td>{{ post['comments'] }}</td>
			<td></td>
			<td></td>
		</tr>		
		{% endfor %}
	</tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Write About Something...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
			<form method="post" autocomplete="off" id="form">
	      <div class="modal-body">
					<div class="mb-3">
						<label for="title" class="form-label ms-2">Title</label>
						<input type="text" class="form-control" id="title" name="title">
					</div>
					<div class="mb-3">
						<label for="subtitle" class="form-label ms-2">Subtitle</label>
						<input type="text" class="form-control" id="subtitle" name="subtitle">
					</div>	
					<div class="mb-3">
						<label for="tags" class="form-label ms-2">Tags</label>
						<input type="text" class="form-control" id="tags" name="tags" placeholder="Separate your tags with ','">
					</div>				
					<textarea id="editor"></textarea>	
					<input type="text" id="content" name="content" hidden>				
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn panel-btn" onclick="return validateNewPost()">Submit</button>
      </div>
		</form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

	const easyMDE = new EasyMDE({
		element: document.getElementById('editor'),
		toolbar: ["bold", "italic", "heading", "|", 
							"undo", "redo", "|", 
							"code", "quote", "unordered-list", "ordered-list","horizontal-rule" ,'|',
							"link", "image", "|", 
							"preview", "guide"],
		minHeight: '160px',
		spellChecker: false,
		initialValue: 'Note: If you want to include images in your post, you can upload them on [imgur.com](https://imgur.com/).'
	});

	function validateNewPost() {
		var title = document.getElementById('title').value;
		if (title.trim() === '') {
			alert('You must enter the title for the post.');
			return false;
		}

		return true;
	}

	function convertDateTimeToString() {
  // Select all elements with class name 'datetime'
		const elements = document.querySelectorAll('.datetime');

		// Iterate over each selected element
		elements.forEach((element) => {
			// Get the datetime value from the element's text content
			const datetime = element.textContent.trim();
			const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };

			// Check if the content represents a valid datetime value
			if (datetime && !isNaN(Date.parse(datetime))) {
				// Convert the datetime value to a Date object
				const dateObj = new Date(datetime);

				// Format the datetime as desired (YYYY-MM-DD H:M:S)
				const dateString = dateObj.toLocaleString("roc", options);

				// Replace the element's content with the formatted datetime string
				element.textContent = dateString;
			}
		});
	}

	// Call the function when the page finishes loading
	// window.addEventListener('load', convertDateTimeToString);
	document.addEventListener("DOMContentLoaded", function() {    
    
    // Get the form element and the hidden input element
    const form = document.getElementById("form");
    const hiddenInput = document.getElementById("content");

		convertDateTimeToString();
    
    // Add a submit event listener to the form
    form.addEventListener("submit", function(event) {
      // Set the value of the hidden input to the editor
      hiddenInput.value = easyMDE.value();
    });

		form.addEventListener("keypress", function(event) {
			if (event.key === 'Enter') {
				event.preventDefault();
			}
		});

	});	
</script>
{% endblock %}