{% extends 'panel.html' %}

{% block panel %}
<div class="d-flex align-items-center">
	<h2 class="ms-2">Posts</h2>
	<button class="btn panel-btn ms-auto me-3" data-bs-toggle="modal" data-bs-target="#myModal">+ New Post</button>
</div>
<hr>
<!-- description -->
<p class="ms-2">Featured posts will be on your home page, sorted by time order. </p>
<!-- description ends -->
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th style="width: 44%">Title</th>
				<th style="width: 15%">Created At</th>
				<th style="width: 10%" class="text-center">Clicks</th>
				<th style="width: 10%" class="text-center">Comments</th>
				<th style="width: 8%" class="text-center">Feature</th>
				<th style="width: 8%" class="text-center">Archive</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<!-- to-do: add post's link to post's title -->
				<td class="align-middle"><a href="posts/edit/{{ post.uid }}" class="me-1" style="color: black;">{{ post['title'] }}</a>
				{% if post['featured'] %}
				<span class="badge rounded-pill bg-success">Featured</span>
				{% endif %}
				</td>
				<td>{{ post['created_at'] }}</td>
				<td class="text-right text-center">{{ post['clicks'] }}</td>
				<td class="text-right text-center">{{ post['comments'] }}</td>
				{% if post['featured'] %}
				{% set base_link = '/backstage/edit-featured?featured=to_false&uid=' %}
				<td class="text-center"><a href='{{ base_link ~ post.uid }}' style="color: black; font-size: 18px;"><i class="fa-regular fa-square-minus"></i></a></td>
				{% else %}
				{% set base_link = '/backstage/edit-featured?featured=to_true&uid=' %}
				<td class="text-center"><a href='{{ base_link ~ post.uid }}' style="color: black; font-size: 18px;"><i class="fa-regular fa-square-plus"></i></a></td>
				{% endif %}
				{% set base_link2 = '/backstage/edit-archived?archived=to_true&uid=' %}
				<td class="text-center"><a href="{{ base_link2 ~ post.uid }}" style="color: black; font-size: 18px;"><i class="fa-solid fa-box-archive"></i></a></td>
			</tr>		
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="container">
	<div class="row">
		<div class="col-6 text-start">
			{% if newer_posts %}
			{% set previous_page = current_page - 1 %}
			<a href="/backstage/posts?page={{ previous_page }}" class="btn"><span class="mx-1">⬅️</span> Newer Posts </a>
			{% endif %}
		</div>
		<div class="col-6 text-end">
			{% if older_posts %}
			{% set next_page = current_page + 1 %}
			<a href="/backstage/posts?page={{ next_page }}" class="btn"> Older Posts <span class="mx-1">➡️</span></a>
			{% endif %}
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Write About Something...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
			<form method="post" autocomplete="off" id="form">
	      <div class="modal-body">
					<div class="mb-3">
						<label for="title" class="form-label ms-2">Title</label>
						<input type="text" class="form-control" id="title" name="title">
					</div>
					<div class="mb-3">
						<label for="subtitle" class="form-label ms-2">Subtitle</label>
						<input type="text" class="form-control" id="subtitle" name="subtitle">
					</div>		
					<div class="mb-3">
						<label for="tags" class="form-label ms-2">Tags</label>
						<input type="text" class="form-control" id="tags" name="tags" placeholder="Separate your tags with ','">
					</div>
					<div class="mb-3">
						<label for="banner" class="form-label ms-2">Banner image</label>
						<input type="text" class="form-control" id="banner" name="banner_url" placeholder="Insert image url here">
					</div>
					<div class="mb-3">
						<textarea id="editor" name="content" style="white-space: pre-line;" placeholder="Note: If you want to include images in your post, you can upload them on [imgur.com](https://imgur.com/)."></textarea>
					</div>
      	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn panel-btn" onclick="return validateNewPost()">Submit</button>
      </div>
		</form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

	const easyMDE = new EasyMDE({
		element: document.getElementById('editor'),
		autofocus: true,
		toolbar: ["bold", "italic", "heading", "|", 
							"undo", "redo", "|", 
							"code", "quote", "unordered-list", "ordered-list","horizontal-rule" ,'|',
							"link", "image", "|", 
							"preview", "guide"],
		minHeight: '200px',
		spellChecker: false
	});
	

	function validateNewPost() {
		var title = document.getElementById('title').value;
		if (title.trim() === '') {
			alert('You must enter the title for the post.');
			return false;
		}

		var subtitle = document.getElementById('subtitle').value;
		if (subtitle.trim() === '') {
			alert('Add a short description for this post as a subtitle.');
			return false;
		}

		var tags = document.getElementById('tags').value;
		if (tags.trim() === '') {
			alert('You must add some tags for the post.');
			return false;
		}

		var banner = document.getElementById('banner').value;
		if (banner.trim() === '') {
			alert('You must add a banner image for the post.');
			return false;
		}

		
		if (easyMDE.value().trim() === '') {
			alert('You did not write anything!');
			return false;
		}

		return true;
	}	

	function formatNumber() {
		const numberElements = document.getElementsByClassName("number");
		for (let i = 0; i < numberElements.length; i++) {
			const originalNumber = numberElements[i].textContent;
			const formattedNumber = originalNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			numberElements[i].textContent = formattedNumber;
		}
	}


	document.addEventListener("DOMContentLoaded", function() {  
		
		convertDateTimeToString();
		formatNumber();    
    
    const form = document.getElementById("form");
		form.addEventListener("keypress", function(event) {
			if (event.key === 'Enter') {
				event.preventDefault();
			}
		});

	});	
</script>
{% endblock %}