{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}About · {{ user['blogname'] }}{% endblock %}

{% block body%}

{% include 'navbar.html' %}
{# css for navbar is in styles.css #}

<div class="banner-container" style="background-image: url('/static/img/default_banner.jpg')"></div>

<div class="container-fluid" style="font-family: 'Ubuntu', 'Noto Sans TC', sans-serif; min-height: calc(100vh - 330px);">
	<div class="text-center mt-5"><h1>About Me</h1></div>
	<div class="row my-3">
		<div class="col-1 mx-auto"><hr></div>
	</div>
	<div class="row my-3">
		<div class="col-6 mx-auto">
		{% if about|length == 0 %}
		<div class="text-center"><p>Well... it seems there's nothing here yet.</p></div>
		{% else %}
		{{ about|safe }}
		{% endif %}
		</div>
	</div>	
</div>

<footer>
	<p>&copy; 2023 - All rights reserved. {{ user['blogname'] }}. | Powered by Little Blog</p>
</footer>


{% endblock %}