{% extends 'base.html' %}

{% block title %}Blog posts · {{ user['blogname'] }}{% endblock %}

{% block body%}

{% include 'navbar.html' %}

{% include 'banner.html' %}

<div class="container-fluid">
	<div class="row">
		<!-- post column -->
		<div class="col-12 col-md-8" style="min-height: calc(100vh * 0.55);">
			<div class="row">
				<div class="col-12 offset-md-2 col-md-8 px-md-2">
					{% if posts|length %}
					{% for post in posts %}
					{% set post_link = 'posts/' ~ post.post_uid  %}
					<div class="my-5">
						<a href="{{ post_link }}" class="header-link"><h1 class="fw-bold">{{ post.title }}</h1></a>
						<div class="d-flex align-items-center my-3">
							<a href="about">
								{% if user.profile_img_url|length == 0 %}
								<img src="/static/img/default-profile.png" alt="profile-img" class="profile-md me-2">
								{% else %}
								<img src="{{ user.profile_img_url }}" alt="profile-img" class="profile-md me-2">
								{% endif %}
							</a>
							<a href="about" class="author-link mx-2">{{ post.author }}</a>
							<div class="date-text" style="font-size: large;"> on {{ post.created_at }}</div>
						</div>
						<div class="mb-3" style="font-size: large;">{{ post.subtitle }}</div>
						<div class="d-flex align-items-center" style="color: rgb(100, 100, 100) ; font-size: large;">
							<span ><i class="fa-solid fa-tags"></i></span>
							{% for tag in post.tags %}
							{% set tag_link = 'tags?tag=' ~ tag %}
								<a href="{{ tag_link }}"><span class="badge badge-custom ms-2">{{ tag }}</span></a>
							{% endfor %}
						</div>						
					</div>
					{% if loop.index != posts|length %}
					<hr>
					{% endif %}
					{% endfor %}
					{% else %}
					<h5 class="text-start py-5 fw-bold" style="color: rgb(100, 100, 100);">No post published yet!</h5>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- tags column -->
		<div class="d-none d-md-block col-md-4 border-start">
			<div class="text-start pt-5 ps-3">
				<h5 class="fw-bold mb-3" style="color: rgb(100, 100, 100);">Topics in this blog</h5>
				{% for tag, count in tags.items() %}
				{% set tag_link = 'tags?tag=' ~ tag %}
					<a href="{{ tag_link }}"><span class="badge badge-custom me-2" style="font-size: small;">{{ tag }}<span class="badge bg-secondary ms-2">{{ count }}</span></span></a>
				{% endfor %}
			</div>		
		</div>
		<div class="border text-center py-4" style="background-color: #f5f5f5;">
			<div class="row">
				<div class="col-6 text-start">
					{% if allow_previous_page %}
					{% set previous_page = current_page - 1 %}
					<a href="{{ '/' ~ user.username ~ '/blog?page=' ~ previous_page }}" class="btn ms-3"><h5><span class="mx-1">⬅️</span> Newer Posts </h5></a>
					{% endif %}
				</div>
				<div class="col-6 text-end">
					{% if allow_next_page %}
					{% set next_page = current_page + 1 %}
					<a href="{{ '/' ~ user.username ~ '/blog?page=' ~ next_page }}" class="btn me-3"><h5> Older Posts <span class="mx-1">➡️</span></h5></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'footer.html' %}

{% endblock %}