{% extends 'base.html' %}

{% block head %}
<style>
	img.profile {
		width: 4rem;
		height: 4rem;
		border-radius:50%
	}


	.author-link {
		text-decoration: none;
		color: #333;
	}

	/* Add underline on hover */
	.author-link:hover {
		text-decoration: underline;
		color: #333;
	}

	
	.date-text {
		color: rgb(100, 100, 100)
	}

</style>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block body%}

{% include 'navbar.html' %}
<div class="banner-container" style="background-image: url('{{ post.banner_url }}')"></div>
<div class="container">
	<div class="row mt-5">
		<div class="col-12 col-md-7 mx-auto">
			<div style="font-family: 'Ubuntu', 'Noto Sans TC', sans-serif;">
				<h1 class="text-center fw-bold">{{ post.title }}</h1>
				<div class="d-flex align-items-center justify-content-center mt-3 mb-5">
					<a href="/{{ post.author }}/about">
						{% if user.profile_img_url|length == 0 %}
						<img src="/static/img/default_profile.png" alt="profile-img" class="profile me-2">
						{% else %}
						<img src="{{ user.profile_img_url }}" alt="profile-img" class="profile me-2">
						{% endif %}
					</a>
					<a href="/{{ post.author }}/about" class="author-link mx-2"><h4>{{ post.author }}</h4></a>
					<div class="date-text"><h4> · Last updated: {{ post.last_updated }}</h4></div>
				</div>
			</div>
			<hr>
			<div style="font-family: 'Noto Serif TC', serif;" class="mb-3">
				{{ post.content | safe }}
			</div>
			<div class="d-flex align-items-center mb-3" style="color: rgb(100, 100, 100) ; font-size: large;">
				<span ><i class="fa-solid fa-tags"></i></span>
				{% for tag in post.tags %}
				{% set tag_link = 'tags?tag=' ~ tag %}
					<a href="{{ tag_link }}"><span class="badge badge-custom ms-2">{{ tag }}</span></a>
				{% endfor %}
			</div>
			<hr class="mb-3">
			<div style="font-family: 'Ubuntu', 'Noto Sans TC', sans-serif;">
				<h3>Comments</h3>
			</div>
		</div>
	</div>
</div>



{% endblock %}