{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/panel.css') }}" />
{% endblock %}
{% block panel %}
  <!-- desktop view -->
  <div class="d-none d-md-block">
    <h2 class="ms-2 main-panel-header-offset">Archive</h2>
    <hr />
    <!-- description -->
    <p class="ms-2">Posts and projects archived will not be seen in your website.</p>
    <!-- description ends -->
    {% if posts | length == 0 and projects | length == 0 %}
      <p class="ms-2">You don't have any archive right now.</p>
    {% endif %}
    {% if posts | length != 0 %}
      <div class="col-11">
        <!-- <h4 class="ms-2">--- Posts ---</h4> -->
        <table class="table">
          <caption class="ms-2">
            Posts
          </caption>
          <thead>
            <tr>
              <th style="width: 48%">Title</th>
              <th style="width: 16%">Created At</th>
              <th style="width: 10%" class="text-center">Clicks</th>
              <th style="width: 10%" class="text-center">Comments</th>
              <th style="width: 8%" class="text-center">Go Live</th>
              <th style="width: 8%" class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr>
                <!-- to-do: add post's link to post's title -->
                <td>{{ post.title }}</td>
                <td>
                  <span class="utc-to-local-long">{{ post.created_at }}</span>
                </td>
                <td class="text-center">{{ post.views }}</td>
                <td class="text-center">{{ post.comments }}</td>
                <td class="text-center text-black">
                  <a class="backstage-icon"
                     href="{{ url_for('backstage.toggle_archived', type='post', uid=post.post_uid, archived='to_false') }}"><i class="fa-regular fa-thumbs-up"></i></a>
                </td>
                <td class="text-center">
                  <a href="#"
                     class="delete-post-btn backstage-icon"
                     data-post-uid="{{ post.post_uid }}"
                     data-bs-toggle="modal"
                     data-bs-target="#deletePostModal"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- <h4 class="ms-2">--- Projects ---</h4> -->
      </div>
    {% endif %}
    {% if projects | length != 0 %}
      <div class="col-11">
        <table class="table">
          <caption class="ms-2">
            Projects
          </caption>
          <thead>
            <tr>
              <th style="width: 48%">Title</th>
              <th style="width: 16%">Created At</th>
              <th style="width: 10%" class="text-center">Clicks</th>
              <th style="width: 10%" class="text-center">Comments</th>
              <th style="width: 8%" class="text-center">Go Live</th>
              <th style="width: 8%" class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <!-- to-do: add project's link to project's title -->
                <td>{{ project.title }}</td>
                <td>
                  <span class="utc-to-local-long">{{ project.created_at }}</span>
                </td>
                <td class="text-center">{{ project.views }}</td>
                <td class="text-center">/</td>
                <td class="text-center">
                  <a class="backstage-icon"
                     href="{{ url_for('backstage.toggle_archived', type='project', uid=project.project_uid, archived='to_false') }}">
                    <i class="fa-regular fa-thumbs-up"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#"
                     class="delete-project-btn backstage-icon"
                     data-project-uid="{{ project.project_uid }}"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteProjectModal"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  <!-- mobile view -->
  <div class="d-block d-md-none mt-2">
    <h2 class="ms-2 my-3">Archive</h2>
    <hr />
    <p class="ms-2">Posts and works archived will not be seen in your website.</p>
    {% if posts | length != 0 %}<h5 class="ms-2 my-3">- Posts -</h5>{% endif %}
    {% for post in posts %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="text-truncate">{{ post.title }}</div>
              <p class="text-grey mb-2 backstage-mobile-time">
                Created at <span class="utc-to-local-long">{{ post.created_at }}</span>
              </p>
              <div>
                <span class="me-2"><i class="fa-regular fa-hand-pointer me-2"></i>{{ post.views }}</span>
                <span><i class="fa-regular fa-comment me-2"></i>{{ post.comments }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <a class="btn dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.toggle_archived', type='post', uid=post.post_uid, archived='to_false') }}">Restore</a>
                  </li>
                  <li>
                    <a class="dropdown-item delete-post-btn"
                       href="#"
                       data-post-uid="{{ post.post_uid }}"
                       data-bs-toggle="modal"
                       data-bs-target="#deletePostModal">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if projects | length != 0 %}<h5 class="ms-2 my-3">- Projects -</h5>{% endif %}
    {% for project in projects %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="text-truncate">{{ project.title }}</div>
              <p class="text-grey mb-2 backstage-mobile-time">
                Created at <span class="utc-to-local-long">{{ project.created_at }}</span>
              </p>
              <div>
                <span class="me-2"><i class="fa-regular fa-hand-pointer me-2"></i>{{ project.views }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <a class="btn dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.toggle_archived', type='project', uid=project.project_uid, archived='to_false') }}">Restore</a>
                  </li>
                  <li>
                    <a class="dropdown-item delete-project-btn"
                       href="#"
                       data-project-uid="{{ project.project_uid }}"
                       data-bs-toggle="modal"
                       data-bs-target="#deleteProjectModal">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Delete Confirmation Modal -->
  <div class="modal fade"
       id="deletePostModal"
       tabindex="-1"
       aria-labelledby="deletePostModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Confirm Deletion</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this post?</div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
          <a href="#" id="deletePostBtn" class="btn delete-btn">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade"
       id="deleteProjectModal"
       tabindex="-1"
       aria-labelledby="deleteProjectModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProjectModalLabel">Confirm Deletion</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this project?</div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
          <a href="#" id="deleteProjectBtn" class="btn delete-btn">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/backstage/archive.js') }}"></script>{% endblock %}
