{% extends 'panel.html' %}
{% block head %}<link rel="stylesheet" href="/static/css/panel.css" />{% endblock %}
{% block panel %}
  <!-- desktop view -->
  <div class="d-none d-md-block">
    <div style="height: 43px; margin-top: 30px">
      <h2 class="ms-2">Archive</h2>
    </div>
    <hr />
    <!-- description -->
    <p class="ms-2">Articles and works archived will not be seen in your website.</p>
    <!-- description ends -->
    {% if articles | length == 0 %}
      <p class="ms-2">You don't have any archive right now.</p>
    {% else %}
      <div class="col-11">
        <table class="table">
          <caption class="ms-2">
            Posts
          </caption>
          <thead>
            <tr>
              <th style="width: 48%">Title</th>
              <th style="width: 16%">Created At</th>
              <th style="width: 10%" class="text-center">Clicks</th>
              <th style="width: 10%" class="text-center">Comments</th>
              <th style="width: 8%" class="text-center">Go Live</th>
              <th style="width: 8%" class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <tr>
                <!-- to-do: add article's link to article's title -->
                <td>{{ article['title'] }}</td>
                <td>{{ article['created_at'] }}</td>
                <td class="text-center">{{ article['views'] }}</td>
                <td class="text-center">{{ article['comments'] }}</td>
                <td class="text-center">
                  <a href="/backstage/edit-archived?archived=to_false&uid={{ article.article_uid }}"
                     style="color: black;
                            font-size: 18px"><i class="fa-regular fa-thumbs-up"></i></a>
                </td>
                <td class="text-center">
                  <a href="#"
                     style="color: black;
                            font-size: 18px"
                     class="delete-article-btn"
                     data-article-uid="{{ article.article_uid }}"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteConfirmationModal"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  <!-- mobile view -->
  <div class="d-block d-md-none mt-2">
    <h2 class="ms-2 my-3">Archive</h2>
    <hr />
    <p class="ms-2">Posts and works archived will not be seen in your website.</p>
    {% for article in articles %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="text-truncate">
                <a href="articles/edit/{{ article.article_uid }}" style="color: black">{{ article['title'] }}</a>
              </div>
              <p style="font-size: small; font-style: italic" class="grey-text mb-2">Created at {{ article['created_at'] }}</p>
              <div>
                {% if article['featured'] %}
                  <button class="btn btn-sm btn-success rounded-4 me-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title="Featured articles will be on your home page">Featured</button>
                {% endif %}
                <span class="me-2"><i class="fa-regular fa-hand-pointer me-2"></i>{{ article['views'] }}</span>
                <span><i class="fa-regular fa-comment me-2"></i>{{ article['comments'] }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <a class="btn dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                       href="/backstage/edit-archived?archived=to_false&uid={{ article.article_uid }}">Restore</a>
                  </li>
                  <li>
                    <a class="dropdown-item delete-article-btn"
                       href="#"
                       data-article-uid="{{ article.article_uid }}"
                       data-bs-toggle="modal"
                       data-bs-target="#deleteConfirmationModal">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Delete Confirmation Modal -->
  <div class="modal fade"
       id="deleteConfirmationModal"
       tabindex="-1"
       aria-labelledby="deleteConfirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this article?</div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
          <a href="#" id="deleteArticleBtn" class="btn delete-btn">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}<script src="/static/js/backstage/archive.js"></script>{% endblock %}
