{% extends 'panel.html' %}
{% block head %}<link rel="stylesheet" href="/static/css/panel.css" />{% endblock %}
{% block panel %}
  <!-- desktop view -->
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center"
         style="height: 53px;
                margin-top: 20px">
      <h2 class="ms-2">Articles</h2>
      <button class="btn panel-btn ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newPostModal">+ New Article</button>
    </div>
    <hr />
    <!-- <p class="ms-2">Featured articles will be on your home page, sorted by time order.</p> -->
    {% if articles | length == 0 %}
      <p class="ms-2">Click the button on the top-right to create your first article!</p>
    {% else %}
      <div class="col-11">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 40%">Title</th>
                <th style="width: 16%">Created At</th>
                <th style="width: 10%" class="text-center">Views</th>
                <th style="width: 10%" class="text-center">Comments</th>
                <th style="width: 8%" class="text-center">Edit</th>
                <th style="width: 8%" class="text-center">Feature</th>
                <th style="width: 8%" class="text-center">Archive</th>
              </tr>
            </thead>
            <tbody>
              {% for article in articles %}
                <tr>
                  <td class="align-middle">
                    <!-- leave article stat for future -->
                    <!-- <a href="stats/articles/{{ article.article_uid }}" class="me-1" style="color: black">{{ article['title'] }}</a> -->
                    <a href="/@{{ article.author }}/articles/{{ article.article_uid }}"
                       style="color: black">{{ article['title'] }}</a>
                    {% if article['featured'] %}<span class="badge rounded-pill bg-success">Featured</span>{% endif %}
                  </td>
                  <td>{{ article['created_at'] }}</td>
                  <td class="text-center">{{ article['views'] }}</td>
                  <td class="text-center">{{ article['comments'] }}</td>
                  <td class="text-center">
                    <a href="edit/article/{{ article.article_uid }}"
                       style="color: black;
                              font-size: 18px"><i class="fa-regular fa-pen-to-square"></i></a>
                  </td>
                  {% if article['featured'] %}
                    <td class="text-center">
                      <a href="edit-featured?featured=to_false&uid={{ article.article_uid }}"
                         style="color: black;
                                font-size: 18px"><i class="fa-regular fa-square-minus"></i></a>
                    </td>
                  {% else %}
                    <td class="text-center">
                      <a href="edit-featured?featured=to_true&uid={{ article.article_uid }}"
                         style="color: black;
                                font-size: 18px"><i class="fa-regular fa-square-plus"></i></a>
                    </td>
                  {% endif %}
                  <td class="text-center">
                    <a href="edit-archived?archived=to_true&uid={{ article.article_uid }}"
                       style="color: black;
                              font-size: 18px"><i class="fa-solid fa-box-archive"></i></a>
                  </td>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-6 text-start">
          {% if pagination.is_previous_page_allowed %}
            {% set previous_page = pagination.current_page - 1 %}
            <a href="articles?page={{ previous_page }}" class="btn"><span class="mx-1">⬅️</span> Newer Posts
            </a>
          {% endif %}
        </div>
        <div class="col-6 text-end">
          {% if pagination.is_next_page_allowed %}
            {% set next_page = pagination.current_page + 1 %}
            <a href="articles?page={{ next_page }}" class="btn">
            Older Posts <span class="mx-1">➡️</span></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- mobile view -->
  <div class="d-block d-md-none mt-2">
    <div class="d-flex align-items-center mb-3">
      <h2 class="ms-2 mt-3">Posts</h2>
      <button class="btn panel-btn ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newPostModal">+ New Post</button>
    </div>
    <hr />
    {% for article in articles %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="/@{{ article.author }}/articles/{{ article.article_uid }}"
                 style="color: black">{{ article['title'] }}</a>
              <p class="grey-text mb-2" style="font-size: small; font-style: italic">Created at {{ article['created_at'] }}</p>
              <div>
                {% if article['featured'] %}
                  <button class="btn btn-sm btn-success rounded-4 me-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title="Featured articles will be on your home page">Featured</button>
                {% endif %}
                <span class="me-2"><i class="fa-regular fa-hand-pointer me-2"></i>{{ article['views'] }}</span>
                <span><i class="fa-regular fa-comment me-2"></i>{{ article['comments'] }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <button class="btn dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="edit/article/{{ article.article_uid }}">Edit</a>
                  </li>
                  {% if article['featured'] %}
                    <li>
                      <a class="dropdown-item"
                         href="edit-featured?featured=to_false&uid={{ article.article_uid }}">Remove from featured</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="dropdown-item"
                         href="edit-featured?featured=to_true&uid={{ article.article_uid }}">Add to featured</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item"
                       href="edit-archived?archived=to_true&uid={{ article.article_uid }}">Move to archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- pagination -->
    <div class="row">
      <div class="col-6 text-start">
        {% if pagination.is_previous_page_allowed %}
          {% set previous_page = pagination.current_page - 1 %}
          <a href="articles?page={{ previous_page }}" class="btn">
            <span class="mx-1"><i class="fa-solid fa-angles-left"></i></span> Newer
            Posts
          </a>
        {% endif %}
      </div>
      <div class="col-6 text-end">
        {% if pagination.is_next_page_allowed %}
          {% set next_page = pagination.current_page + 1 %}
          <a href="articles?page={{ next_page }}" class="btn">
            Older Posts
            <span class="mx-1"><i class="fa-solid fa-angles-right"></i></span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade"
       id="newPostModal"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Write About Something...</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form method="post" autocomplete="off" id="form">
          <div class="modal-body">
            <div class="mb-4">
              <label for="title" class="form-label ms-2 backstage-form-label">· Title</label>
              <input type="text"
                     class="form-control border-underline"
                     id="title"
                     name="title" />
            </div>
            <div class="mb-4">
              <label for="subtitle" class="form-label ms-2 backstage-form-label">· Subtitle</label>
              <input type="text"
                     class="form-control border-underline"
                     id="subtitle"
                     name="subtitle" />
            </div>
            <div class="mb-4">
              <label for="tags" class="form-label ms-2 backstage-form-label">· Tags</label>
              <input type="text"
                     class="form-control border-underline"
                     id="tags"
                     name="tags"
                     placeholder="Separate your tags with ','" />
            </div>
            <div class="mb-4">
              <label for="cover" class="form-label ms-2 backstage-form-label">· Cover image</label>
              <input type="text"
                     class="form-control border-underline"
                     id="cover"
                     name="cover_url"
                     placeholder="Insert image url" />
            </div>
            <div class="mb-4">
              <textarea id="editor"
                        name="content"
                        style="white-space: pre-line"
                        placeholder="Note: If you want to include images in your article, you can upload them on [imgur.com](https://imgur.com/)."></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn cancel-btn text-center me-2"
                    data-bs-dismiss="modal">Cancel</button>
            <button type="submit"
                    class="btn panel-btn text-center"
                    onclick="return validateNewPost()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/static/js/backstage/articles.js"></script>
{% endblock %}
