{% extends 'panel.html' %}
{% block head %}
  <link rel="stylesheet" href="/static/css/panel.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="/static/js/backstage/edit-post.js" defer></script>
{% endblock %}
{% block panel %}
  <div style="height: 43px; margin-top: 30px">
    <h2 class="ms-2">Edit Post</h2>
  </div>
  <hr />
  <form method="post" autocomplete="off" id="form" class="row">
    <div class="col-12 col-md-9">
      <div class="mb-4">
        <label for="title" class="form-label ms-2 backstage-form-label">· Title</label>
        <input type="text"
               class="form-control border-underline"
               id="title"
               name="title"
               value="{{ post.title }}" />
      </div>
      <div class="mb-4">
        <label for="subtitle" class="form-label ms-2 backstage-form-label">· Subtitle</label>
        <input type="text"
               class="form-control border-underline"
               id="subtitle"
               name="subtitle"
               value="{{ post.subtitle }}" />
      </div>
      <div class="mb-4">
        <label for="tags" class="form-label ms-2 backstage-form-label">· Tags</label>
        <input type="text"
               class="form-control border-underline"
               id="tags"
               name="tags"
               placeholder="Separate your tags with ','"
               value="{{ post.tags }}" />
      </div>
      <div class="mb-4">
        <label for="cover" class="form-label ms-2 backstage-form-label">· Cover image</label>
        <input type="text"
               class="form-control border-underline"
               id="cover"
               name="cover_url"
               placeholder="Insert image url here."
               value="{{ post.cover_url }}" />
      </div>
      <div class="mb-4">
        <label for="custom-slug" class="form-label ms-2 backstage-form-label">· Custom slug</label>
        <input type="text"
               class="form-control border-underline"
               id="custom-slug"
               name="custom_slug"
               placeholder=""
               value="{{ post.custom_slug }}" />
      </div>
      <div class="mb-4">
        <textarea id="editor"
                  name="content"
                  style="white-space: pre-line"
                  placeholder="Note: If you want to include images in your post, you can upload them on [imgur.com](https://imgur.com/)."></textarea>
      </div>
      <div class="text-end mb-5">
        <a href="/backstage/posts" class="btn cancel-btn text-center me-2">Cancel</a>
        <button type="submit"
                class="btn panel-btn text-center"
                onclick="return validateUpdate()">Save Changes</button>
      </div>
    </div>
  </form>
{% endblock %}
{% block script %}<script>var postContent = {{ post['content'] | tojson | safe }};</script>{% endblock %}
