{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/edit-about.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <h2 class="ms-2 main-panel-header-offset">About</h2>
  <hr />
  <form method="post" autocomplete="off" id="form" class="row">
    <div class="col-12 col-md-9">
      <div class="mb-4">
        <label for="title" class="form-label ms-2 backstage-form-label">· Add/update profile image</label>
        <input type="text"
               class="form-control border-underline"
               id="profile_img_url"
               name="profile_img_url"
               value="{{ user.profile_img_url }}"
               placeholder="Insert image url" />
      </div>
      <div class="mb-4">
        <label for="short_bio" class="form-label ms-2 backstage-form-label">· Short bio</label>
        <input type="text"
               class="form-control border-underline"
               id="short_bio"
               name="short_bio"
               placeholder="Bio on your home page"
               value="{{ user.short_bio }}" />
      </div>
      <div class="mb-4">
        <label for="editor" class="mb-3 ms-2 backstage-form-label">· Edit your About page</label>
        <textarea id="editor"
                  name="about"
                  style="white-space: pre-line"
                  placeholder="Note: If you want to include images in your post, you can upload them on [imgur.com](https://imgur.com/)."></textarea>
      </div>
      <div class="text-end mb-5">
        <button type="submit" class="btn panel-btn text-center">Save Changes</button>
      </div>
    </div>
  </form>
{% endblock %}
{% block script %}<script>var userAbout = {{ user.about | tojson | safe }};</script>{% endblock %}
