{% extends 'base.html' %}
{% block title %}Backstage - BlogYourWay{% endblock %}
{% block body %}
  <!-- desktop view -->
  <div class="container-fluid">
    <div class="row">
      <!-- side bar with desktop view portal -->
      <div class="d-none d-md-block col">
        <div class="sidebar bg-sidebar">
          <div class="d-flex align-items-center sidebar-brand">
            <img src="{{ url_for('static', filename='img/logo.png') }}"
                 alt="logo"
                 width="36"
                 height="36">
            <h5 class="ms-3 mt-2">BlogYourWay</h5>
          </div>
          <hr>
          <a class="btn w-100 px-2"
             href="{{ url_for('frontstage.home', username=user.username) }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-house"></i></span>Home
          </a>
          <a class="btn w-100 px-2" href="{{ url_for("backstage.posts_panel") }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-pen-to-square"></i></span>Posts
          </a>
          {% if user.gallery_enabled %}
            <a class="btn w-100 px-2"
               href="{{ url_for("backstage.projects_panel") }}">
              <span class="ms-2 me-3"><i class="fa-solid fa-palette"></i></span>Projects
            </a>
          {% endif %}
          {% if user.changelog_enabled %}
            <a class="btn w-100 px-2">
              <span class="ms-2 me-3"><i class="fa-solid fa-clock"></i></span>Change Log
            </a>
          {% endif %}
          <a class="btn w-100 px-2" href="{{ url_for("backstage.edit_about") }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-user"></i></span>About
          </a>
          <!-- <a class="btn w-100 px-2" href="/backstage/social-links">
            <span class="ms-2 me-3"><i class="fa-solid fa-link"></i></span>Social Links
          </a> -->
          <a class="btn w-100 px-2" href="{{ url_for("backstage.theme_panel") }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-paint-roller"></i></span>Blog Theme
          </a>
          <a class="btn w-100 px-2" href="/backstage/archive">
            <span class="ms-2 me-3"><i class="fa-solid fa-box-archive"></i></i></span>Archive
          </a>
          <a class="btn w-100 px-2"
             href="{{ url_for("backstage.settings_panel") }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-gear"></i></span>Settings
          </a>
          <a class="btn w-100 px-2" href="{{ url_for("backstage.logout") }}">
            <span class="ms-2 me-3"><i class="fa-solid fa-right-from-bracket"></i></span>Log Out
          </a>
        </div>
      </div>
      <!-- mobile view -->
      <div class="d-block d-md-none container-fluid p-0">
        <nav class="navbar navbar-expand-md bg-sidebar">
          <div class="d-flex align-items-center ms-3">
            <img src="{{ url_for('static', filename='img/logo.png') }}"
                 alt="logo"
                 width="28"
                 height="28">
            <h5 class="ms-3 mt-2 text-white">BlogYourWay</h5>
          </div>
          <button class="btn me-2 text-white border border-1 border-white"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#mobile-nav">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="offcanvas offcanvas-start bg-sidebar"
               tabindex="-1"
               id="mobile-nav">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title text-white">Navigation</h5>
              <button type="button"
                      class="btn-close btn-close-white"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mobile-nav">
              <a class="btn w-100 px-2"
                 href="{{ url_for('frontstage.home', username=user.username) }}"
                 id="mobile-nav-home">
                <span class="ms-2 me-3"><i class="fa-solid fa-house"></i></span>Home
              </a>
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.posts_panel") }}"
                 id="mobile-nav-posts">
                <span class="ms-2 me-3"><i class="fa-solid fa-pen-to-square"></i></span>Posts
              </a>
              {% if user.gallery_enabled %}
                <a class="btn w-100 px-2"
                   href="{{ url_for("backstage.projects_panel") }}"
                   id="mobile-nav-projects">
                  <span class="ms-2 me-3"><i class="fa-solid fa-palette"></i></span>Projects
                </a>
              {% endif %}
              {% if user.changelog_enabled %}
                <a class="btn w-100 px-2"id="mobile-nav-changelog">
                  <span class="ms-2 me-3"><i class="fa-solid fa-clock"></i></span>Change Log
                </a>
              {% endif %}
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.edit_about") }}"
                 id="mobile-nav-about">
                <span class="ms-2 me-3"><i class="fa-solid fa-user"></i></span>About
              </a>
              <!-- <a class="btn w-100 px-2" href="/backstage/social-links" id="mobile-nav-social-links">
                <span class="ms-2 me-3"><i class="fa-solid fa-link"></i></span>Social Links
              </a> -->
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.theme_panel") }}"
                 id="mobile-nav-theme">
                <span class="ms-2 me-3"><i class="fa-solid fa-paint-roller"></i></span>Blog Theme
              </a>
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.archive_panel") }}"
                 id="mobile-nav-archive">
                <span class="ms-2 me-3"><i class="fa-solid fa-box-archive"></i></i></span>Archive
              </a>
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.settings_panel") }}"
                 id="mobile-nav-settings">
                <span class="ms-2 me-3"><i class="fa-solid fa-gear"></i></span>Settings
              </a>
              <a class="btn w-100 px-2"
                 href="{{ url_for("backstage.logout") }}"
                 id="mobile-nav-logout">
                <span class="ms-2 me-3"><i class="fa-solid fa-right-from-bracket"></i></span>Log Out
              </a>
            </div>
          </div>
        </nav>
      </div>
      <!-- main panel -->
      <div class="col">
        <div class="main-panel">
          <div class="container-fluid ps-2">
            {% block panel %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
