{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/projects.js') }}"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">projects</div>
  <!-- desktop view -->
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center main-panel-header-offset">
      <h2 class="ms-2">Projects</h2>
      <button class="btn btn-panel ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newProjectModal">+ New Project</button>
    </div>
    <hr />
    {% if projects | length == 0 %}
      <p class="ms-2">Click the button on the top-right to publish your first project!</p>
    {% else %}
      <div class="col-11">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 50%">Title</th>
                <th style="width: 16%">Created At</th>
                <th style="width: 10%" class="text-center">Views</th>
                <th style="width: 8%" class="text-center">Edit</th>
                <th style="width: 8%" class="text-center">Archive</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
                <tr>
                  <td class="align-middle">
                    <a href="{{ url_for('frontstage.project', username=project.author, project_uid=project.project_uid) }}"
                       class="text-black">{{ project.title }}</a>
                  </td>
                  <td>
                    <span class="utc-to-local-long">{{ project.created_at }}</span>
                  </td>
                  <td class="text-center">{{ project.views }}</td>
                  <td class="text-center">
                    <a href="{{ url_for('backstage.edit_project_get', project_uid=project.project_uid) }}"
                       class="backstage-icon"><i class="fa-regular fa-pen-to-square"></i></a>
                  </td>
                  <td class="text-center">
                    <a href="{{ url_for('backstage.toggle_archived', type='project', uid=project.project_uid, archived='to_true') }}"
                       class="backstage-icon"><i class="fa-solid fa-box-archive"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-6 text-start">
          {% if pagination.is_previous_page_allowed %}
            <a href="{{ url_for(backstage.projects_panel, page=(pagination.current_page - 1) ) }}"
               class="btn"><span class="mx-1">⬅️</span> Prev
            </a>
          {% endif %}
        </div>
        <div class="col-6 text-end">
          {% if pagination.is_next_page_allowed %}
            <a href="{{ url_for(backstage.projects_panel, page=(pagination.current_page + 1) ) }}"
               class="btn">
            Next <span class="mx-1">➡️</span></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- mobile view -->
  <div class="d-block d-md-none mt-2">
    <div class="d-flex align-items-center mb-3">
      <h2 class="ms-2 mt-3">Projects</h2>
      <button class="btn btn-panel ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newProjectModal">+ New Project</button>
    </div>
    <hr />
    {% for project in projects %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="{{ url_for('frontstage.project', username=user.username, project_uid=project.project_uid) }}"
                 class="text-black">{{ project.title }}</a>
              <p class="text-grey mb-2" class="backstage-mobile-time">Created at {{ project.created_at }}</p>
              <div>
                <span class="me-2"><i class="fa-regular fa-hand-pointer me-2"></i>{{ project.views }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <button class="btn dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.edit_project_get', project_uid=project.project_uid) }}">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.toggle_archived', type='project', uid=project.project_uid, archived='to_true') }}">Move to archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- pagination -->
    <div class="row">
      <div class="col-6 text-start">
        {% if pagination.is_previous_page_allowed %}
          {% set previous_page = pagination.current_page - 1 %}
          <a href="projects?page={{ previous_page }}" class="btn">
            <span class="mx-1"><i class="fa-solid fa-angles-left"></i></span> Newer Posts
          </a>
        {% endif %}
      </div>
      <div class="col-6 text-end">
        {% if pagination.is_next_page_allowed %}
          {% set next_page = pagination.current_page + 1 %}
          <a href="projects?page={{ next_page }}" class="btn">
            Older Posts
            <span class="mx-1"><i class="fa-solid fa-angles-right"></i></span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade"
       id="newProjectModal"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Write About Your Project...</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form method="post" autocomplete="off" id="form">
          <div class="modal-body">
            <div class="mb-4">
              <label for="title" class="form-label ms-2 backstage-form-label">· Title</label>
              <input type="text"
                     class="form-control border-underline"
                     id="title"
                     name="title" />
            </div>
            <div class="mb-4">
              <label for="desc" class="form-label ms-2 backstage-form-label">· Short Description</label>
              <input type="text"
                     class="form-control border-underline"
                     id="desc"
                     name="desc" />
            </div>
            <div class="mb-4">
              <label for="tags" class="form-label ms-2 backstage-form-label">· Tags</label>
              <input type="text"
                     class="form-control border-underline"
                     id="tags"
                     name="tags"
                     placeholder="Separate your tags with ','" />
            </div>
            <div class="mb-4">
              <label for="images" class="form-label ms-2 backstage-form-label">· Images</label>
              <div id="inputContainer">
                <div class="input-group mb-2">
                  <span class="input-group-text">Image 1</span>
                  <input class="form-control project-img"
                         type="text"
                         name="url-1"
                         id="url-1"
                         placeholder="url">
                  <input class="form-control project-img-caption"
                         type="text"
                         name="caption-1"
                         id="caption-1"
                         placeholder="caption">
                </div>
              </div>
            </div>
            <div class="mb-4 d-flex justify-content-start">
              <button type="button"
                      class="btn btn-panel text-center me-2"
                      id="add-more-image">+ More Image</button>
              <button type="button"
                      class="btn btn-panel text-center"
                      id="add-slug-button"
                      onclick="toggleSlug()">+ Custom Slug</button>
            </div>
            <div class="mb-4" id="slug-section" style="display:none;">
              <label for="slug" class="form-label ms-2 backstage-form-label">· Custom slug</label>
              <input type="text"
                     class="form-control border-underline"
                     id="custom-slug"
                     name="custom-slug"
                     placeholder="" />
            </div>
            <div class="mb-4">
              <textarea id="editor"
                        name="content"
                        placeholder="Note: If you want to include images in your post, you can upload them on [imgur.com](https://imgur.com/)."></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn cancel-btn text-center me-2"
                    data-bs-dismiss="modal">Cancel</button>
            <button type="submit"
                    class="btn btn-panel text-center"
                    onclick="return validateNewProject()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
