{% extends 'panel.html' %}
{% block panel %}
  <div style="height: 53px; margin-top: 20px">
    <h1 class="ms-2">Social Links</h1>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 col-lg-9">
      <p class="ms-2">Modify social links on your navbar, as you wish.</p>
      <form method="post" autocomplete="off">
        <div id="inputContainer" class="mb-4">
          {% for count in range(social_links|length) %}
            {% set platform = social_links[count]['platform'] %}
            {% set url = social_links[count]['url'] %}
            <div class="input-group mb-2">
              <span class="input-group-text">Link {{ count + 1 }}</span>
              <input type="text"
                     class="form-control"
                     name="url-{{ count + 1 }}"
                     placeholder="Url goes here"
                     value="{{ url }}" />
              <select class="form-select" name="platform-{{ count + 1 }}">
                <option value="facebook" {% if platform=="facebook" %}selected{% endif %}>Facebook</option>
                <option value="instagram" {% if platform=="instagram" %}selected{% endif %}>Instagram</option>
                <option value="twitter" {% if platform=="twitter" %}selected{% endif %}>Twitter</option>
                <option value="medium" {% if platform=="medium" %}selected{% endif %}>Medium</option>
                <option value="linkedin" {% if platform=="linkedin" %}selected{% endif %}>Linkedin</option>
                <option value="github" {% if platform=="github" %}selected{% endif %}>Github</option>
              </select>
              <button class="btn panel-btn btn-remove" aria-label="Close">Remove</button>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex flex-row mb-4">
          <button id="addButton"
                  class="btn panel-btn me-2 text-center"
                  style="width: 10%;
                         min-width: 90px">Add</button>
          <button type="submit"
                  class="btn panel-btn me-2 text-center"
                  style="width: 20%;
                         min-width: 180px">Submit Changes</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    const mobile_nav_btn = document.getElementById("mobile-nav-social-links");
    mobile_nav_btn.style.color = "white";

    document.addEventListener('DOMContentLoaded', function() {
      var maxInputs = 5; // Maximum input fields allowed
      var inputWrapper = document.querySelector("#inputContainer"); // Input field container
      var addButton = document.querySelector("#addButton"); // Add button ID

      var count = 1; // Initial input field count

      addButton.addEventListener('click', function(e) {
        e.preventDefault();
        if (count < maxInputs) {
          count++;
          addInputField(count);
        }
      });

      inputWrapper.addEventListener('click', function(e) {
        if (e.target.classList.contains('btn-remove')) {
          e.preventDefault();
          e.target.closest('.input-group').remove();
          count--;
          updateOrderNumbers();
        }
      });

      function addInputField(orderNumber) {
        var div = document.createElement('div');
        div.className = 'input-group mb-2';

        var span = document.createElement('span');
        span.className = 'input-group-text';
        span.textContent = 'Link ' + orderNumber;

        var input = document.createElement('input');
        input.type = 'text';
        input.className = 'form-control';
        input.name = 'url-' + orderNumber;
        input.placeholder = 'Url goes here';

        var select = document.createElement('select');
        select.className = 'form-select';
        select.name = 'platform-' + orderNumber;
        ['facebook', 'instagram', 'twitter', 'medium', 'linkedin', 'github'].forEach(function(platform) {
          var option = document.createElement('option');
          option.value = platform;
          option.textContent = platform.charAt(0).toUpperCase() + platform.slice(1);
          select.appendChild(option);
        });

        var button = document.createElement('button');
        button.className = 'btn panel-btn btn-remove';
        button.setAttribute('aria-label', 'Close');
        button.textContent = 'Remove';

        div.appendChild(span);
        div.appendChild(input);
        div.appendChild(select);
        div.appendChild(button);

        inputWrapper.appendChild(div);

        updateOrderNumbers();
      }

      function updateOrderNumbers() {
        var inputGroups = document.querySelectorAll('.input-group');
        inputGroups.forEach(function(group, index) {
          var orderNumber = index + 1;
          group.querySelector('.input-group-text').textContent = 'Link ' + orderNumber;
          group.querySelector('input').name = 'url-' + orderNumber;
          group.querySelector('select').name = 'platform-' + orderNumber;
        });
      }
    });

  </script>
{% endblock %}
