{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">theme</div>
  <h2 class="ms-2 main-panel-header-offset">Blog Theme</h2>
  <hr />
  <p class="ms-2">Themes for BlogYourWay is under develop for now.</p>
{% endblock %}
