{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/edit-about.js') }}"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">about</div>
  <h2 class="ms-2 main-panel-header-offset">About</h2>
  <hr />
  <form method="post" autocomplete="off" id="form" class="row">
    {{ form.hidden_tag() }}
    <div class="col-12 col-md-9">
      <div class="mb-4">
        <label for="title" class="form-label ms-2 fst-italic text-black">· Change profile image</label>
        {{ form.profile_img_url(class="form-control border-underline", value=user.profile_img_url) }}
      </div>
      <div class="mb-4">
        <label for="short_bio" class="form-label ms-2 fst-italic text-black">· Edit short bio</label>
        {{ form.short_bio(class="form-control border-underline", value=user.short_bio) }}
      </div>
      <div class="mb-4">
        <label for="editor" class="mb-3 ms-2 fst-italic text-black">· Edit About page</label>
        {{ form.editor }}
      </div>
      <div class="text-end mb-5">{{ form.submit_(class="btn btn-panel") }}</div>
    </div>
  </form>
{% endblock %}
{% block script %}<script>var userAbout = {{ about | tojson | safe }};</script>{% endblock %}
