{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/edit-project.js') }}"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">edit-projects</div>
  <h2 class="ms-2 main-panel-header-offset">Edit Project</h2>
  <hr />
  <form method="post" autocomplete="off" id="form" class="row">
    {{ form.hidden_tag() }}
    <div class="col-12 col-md-9">
      <div class="mb-4">
        <label for="title" class="form-label ms-2 fst-italic text-black">· Title</label>
        {{ form.title(class="form-control border-underline", value=project.title) }}
      </div>
      <div class="mb-4">
        <label for="subtitle" class="form-label ms-2 fst-italic text-black">· Short Description</label>
        {{ form.desc(class="form-control border-underline", value=project.short_description) }}
      </div>
      <div class="mb-4">
        <label for="tags" class="form-label ms-2 fst-italic text-black">· Tags</label>
        {{ form.tags(class="form-control border-underline", value=project.tags) }}
      </div>
      <div class="mb-4">
        <label class="form-label ms-2 fst-italic text-black">· Images</label>
        <div class="ms-2 my-2 text-grey fw-light">We recommend using 16:9 images, as they will be automatically cropped.</div>
        <div id="image-container">
          <div class="input-group mb-2">
            <span class="input-group-text">Image</span>
            {{ form.url0(class="form-control project-img", value=project.images[0][0]) }}
            {{ form.caption0(class="form-control", value=project.images[0][1]) }}
          </div>
          <div class="input-group mb-2 additional-image {% if not project.images[1] %}d-none{% endif %}">
            <span class="input-group-text">Image</span>
            {{ form.url1(class="form-control project-img", value=project.images[1][0]) }}
            {{ form.caption1(class="form-control", value=project.images[1][1]) }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 additional-image {% if not project.images[2] %}d-none{% endif %}">
            <span class="input-group-text">Image</span>
            {{ form.url2(class="form-control project-img", value=project.images[2][0]) }}
            {{ form.caption2(class="form-control", value=project.images[2][1]) }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 additional-image {% if not project.images[3] %}d-none{% endif %}">
            <span class="input-group-text">Image</span>
            {{ form.url3(class="form-control project-img", value=project.images[3][0]) }}
            {{ form.caption3(class="form-control", value=project.images[3][1]) }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 additional-image {% if not project.images[4] %}d-none{% endif %}">
            <span class="input-group-text">Image</span>
            {{ form.url4(class="form-control project-img", value=project.images[4][0]) }}
            {{ form.caption4(class="form-control", value=project.images[4][1]) }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
        </div>
      </div>
      <div class="mb-4 d-flex justify-content-start">
        <button type="button"
                class="btn btn-panel text-center me-2"
                onclick="showInputGroup()">+ More Image</button>
      </div>
      <div class="mb-4">
        <label for="custom_slug" class="form-label ms-2 fst-italic text-black">· Custom slug</label>
        {{ form.custom_slug(class="form-control border-underline", value=project.custom_slug) }}
      </div>
      <div class="mb-4">{{ form.editor }}</div>
      <div class="text-end mb-5">
        <a href="{{ url_for("backstage.projects_panel") }}"
           class="btn cancel-btn me-2">Cancel</a>
        {{ form.submit_(class="btn btn-panel") }}
      </div>
    </div>
  </form>
{% endblock %}
{% block script %}<script>var projectContent = {{ project.content | tojson | safe }};</script>{% endblock %}
