{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/edit-post.js') }}"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">edit-post</div>
  <h2 class="ms-2 main-panel-header-offset">Edit Post</h2>
  <hr />
  <form method="post" autocomplete="off" id="form" class="row">
    {{ form.hidden_tag() }}
    <div class="col-12 col-md-9">
      <div class="mb-4">
        <label for="title" class="form-label ms-2 fst-italic text-black">· Title</label>
        {{ form.title(class="form-control border-underline", value=post.title) }}
      </div>
      <div class="mb-4">
        <label for="subtitle" class="form-label ms-2 fst-italic text-black">· Subtitle</label>
        {{ form.subtitle(class="form-control border-underline", value=post.subtitle) }}
      </div>
      <div class="mb-4">
        <label for="tags" class="form-label ms-2 fst-italic text-black">· Tags</label>
        {{ form.tags(class="form-control border-underline", value=post.tags) }}
      </div>
      <div class="mb-4">
        <label for="cover" class="form-label ms-2 fst-italic text-black">· Cover image</label>
        {{ form.cover_url(class="form-control border-underline", value=post.cover_url) }}
      </div>
      <div class="mb-4">
        <label for="custom_slug" class="form-label ms-2 fst-italic text-black">· Custom slug</label>
        {{ form.custom_slug(class="form-control border-underline", value=post.custom_slug) }}
      </div>
      <div class="mb-4">{{ form.editor }}</div>
      <div class="text-end mb-5">
        <a href="{{ url_for("backstage.posts_panel") }}"
           class="btn cancel-btn text-center me-2">Cancel</a>
        {{ form.submit_(class="btn btn-panel") }}
      </div>
    </div>
  </form>
{% endblock %}
{% block script %}<script>const postContent = {{ post.content | tojson | safe }};</script>{% endblock %}
