{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/posts.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">posts</div>
  <!-- desktop view -->
  <div class="d-none d-md-block">
    <div class="d-flex main-panel-header-offset align-items-center">
      <h2 class="ms-2">Posts</h2>
      <button class="btn btn-panel ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newPostModal">+ New Post</button>
    </div>
    <hr />
    {% if posts | length == 0 %}
      <p class="ms-2">Click the button on the top-right to create your first post!</p>
    {% else %}
      <div class="col-11">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 32%">Title</th>
                <th style="width: 14%">Created At</th>
                <th style="width: 14%">Last Updated</th>
                <th style="width: 8%" class="text-center">Views</th>
                <th style="width: 8%" class="text-center">
                  <abbr title="Views that stayed more than 30 seconds">Reads</abbr>
                </th>
                <th style="width: 8%" class="text-center">Comments</th>
                <th style="width: 8%" class="text-center">Edit</th>
                <th style="width: 8%" class="text-center">Feature</th>
                <th style="width: 8%" class="text-center">Archive</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
                <tr>
                  <td class="align-middle">
                    <!-- leave post stat for future -->
                    <!-- <a href="stats/posts/{{ post.post_uid }}" class="me-1" style="color: black">{{ post.title }}</a> -->
                    <a href="{{ url_for('frontstage.blogpost', username=post.author, post_uid=post.post_uid) }}"
                       class="text-black">{{ post.title }}</a>
                    {% if post.featured %}<span class="badge rounded-pill bg-success">Featured</span>{% endif %}
                  </td>
                  <td>
                    <span class="utc-to-local-long">{{ post.created_at }}</span>
                  </td>
                  <td>
                    <span class="utc-to-local-long">{{ post.last_updated }}</span>
                  </td>
                  <td class="text-center count">{{ post.views }}</td>
                  <td class="text-center count">{{ post.reads }}</td>
                  <td class="text-center count">{{ post.comments }}</td>
                  <td class="text-center">
                    <a href="{{ url_for('backstage.edit_post', post_uid=post.post_uid) }}"
                       class="backstage-icon"><i class="fa-regular fa-pen-to-square"></i></a>
                  </td>
                  {% if post.featured %}
                    <td class="text-center">
                      <a href="{{ url_for('backstage.toggle_featured', uid=post.post_uid, featured='to_false') }}"
                         class="backstage-icon"><i class="fa-regular fa-square-minus"></i></a>
                    </td>
                  {% else %}
                    <td class="text-center">
                      <a href="{{ url_for('backstage.toggle_featured', uid=post.post_uid, featured='to_true') }}"
                         class="backstage-icon"><i class="fa-regular fa-square-plus"></i></a>
                    </td>
                  {% endif %}
                  <td class="text-center">
                    <a href="{{ url_for('backstage.toggle_archived', type='post', uid=post.post_uid, archived='to_true') }}"
                       class="backstage-icon"><i class="fa-solid fa-box-archive"></i></a>
                  </td>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-6 text-start">
        {% if pagination.is_previous_page_allowed %}
          <a href="{{ url_for('backstage.posts_panel', page=(pagination.current_page - 1) ) }}"
             class="btn">
            <small class="mx-1"><i class="fa-solid fa-angles-left"></i></small> Prev
          </a>
        {% endif %}
      </div>
      <div class="col-5 me-auto text-end">
        {% if pagination.is_next_page_allowed %}
          <a href="{{ url_for('backstage.posts_panel', page=(pagination.current_page + 1) ) }}"
             class="btn">
            Next <small class="mx-1"><i class="fa-solid fa-angles-right"></i></small>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- mobile view -->
  <div class="d-block d-md-none mt-2">
    <div class="d-flex align-items-center mb-3">
      <h2 class="ms-2 mt-3">Posts</h2>
      <button class="btn btn-panel ms-auto me-3"
              data-bs-toggle="modal"
              data-bs-target="#newPostModal">+ New Post</button>
    </div>
    <hr />
    {% for post in posts %}
      <div class="card rounded-0 py-2 overflow-visible my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="{{ url_for('frontstage.blogpost', username=post.author, post_uid=post.post_uid) }}"
                 class="text-black text-truncate">{{ post.title }}</a>
              <p class="text-grey mb-2 backstage-mobile-time">
                Created at <span class="utc-to-local-long">{{ post.created_at }}</span>
              </p>
              <div>
                {% if post.featured %}
                  <button class="btn btn-sm btn-success rounded-4 me-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title="Featured posts will be on your home page">Featured</button>
                {% endif %}
                <span class="me-2"><i class="fa-regular fa-hand-pointer"></i></span>
                <span class="count me-2">{{ post.views }}</span>
                <span class="me-2"><i class="fa-regular fa-comment"></i></span>
                <span class="count me-2">{{ post.comments }}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-end dropdown">
                <button class="btn dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.edit_post', post_uid=post.post_uid) }}">Edit</a>
                  </li>
                  {% if post.featured %}
                    <li>
                      <a class="dropdown-item"
                         href="{{ url_for('backstage.toggle_featured', uid=post.post_uid, featured='to_false') }}">Remove from featured</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="dropdown-item"
                         href="{{ url_for('backstage.toggle_featured', uid=post.post_uid, featured='to_true') }}">Add to featured</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('backstage.toggle_archived', type='post', uid=post.post_uid, archived='to_true') }}">Move to archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- pagination -->
    <div class="row">
      <div class="col-6 text-start">
        {% if pagination.is_previous_page_allowed %}
          <a href="{{ url_for("backstage.posts_panel", page=(pagination.current_page - 1) ) }}"
             class="btn">
            <span class="mx-1"><i class="fa-solid fa-angles-left"></i></span> Prev
          </a>
        {% endif %}
      </div>
      <div class="col-6 text-end">
        {% if pagination.is_next_page_allowed %}
          <a href="{{ url_for("backstage.posts_panel", page=(pagination.current_page + 1) ) }}"
             class="btn">
            Next
            <small class="mx-1"><i class="fa-solid fa-angles-right"></i></small>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade"
       id="newPostModal"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Write About Something...</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form method="post"
              autocomplete="off"
              id="form"
              onsubmit="return validateNewPost()">
          {{ form.hidden_tag() }}
          <div class="modal-body">
            <div class="mb-4">
              <label for="title" class="form-label ms-2 fst-italic text-black">· Title</label>
              {{ form.title(class="form-control border-underline") }}
            </div>
            <div class="mb-4">
              <label for="subtitle" class="form-label ms-2 fst-italic text-black">· Subtitle</label>
              {{ form.subtitle(class="form-control border-underline") }}
            </div>
            <div class="mb-4">
              <label for="tags" class="form-label ms-2 fst-italic text-black">· Tags</label>
              {{ form.tags(class="form-control border-underline") }}
            </div>
            <div class="mb-4 d-flex justify-content-start">
              <button type="button"
                      class="btn btn-panel text-center me-2"
                      id="add-cover-button"
                      onclick="toggleCoverUrl()">+ Cover Image</button>
              <button type="button"
                      class="btn btn-panel text-center"
                      id="add-slug-button"
                      onclick="toggleSlug()">+ Custom Slug</button>
            </div>
            <div class="mb-4 d-none" id="cover-section">
              <label for="cover" class="form-label ms-2 fst-italic text-black">· Cover Image</label>
              {{ form.cover_url(class="form-control border-underline") }}
            </div>
            <div class="mb-4 d-none" id="slug-section">
              <label for="custom_slug" class="form-label ms-2 fst-italic text-black">· Custom Slug</label>
              {{ form.custom_slug(class="form-control border-underline") }}
            </div>
            <div class="mb-4">{{ form.editor }}</div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn cancel-btn text-center me-2"
                    data-bs-dismiss="modal">Cancel</button>
            {{ form.submit_(class="btn btn-panel") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
