{% extends 'backstage/panel.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/panel.css') }}" />
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/backstage/settings.css') }}" />
  <script src="{{ url_for('static', filename='js/backstage/settings.js') }}"
          defer></script>
  <script src="{{ url_for('static', filename='js/backstage/mobile-nav-btn.js') }}"
          defer></script>
{% endblock %}
{% block panel %}
  <div id="current-panel" class="d-none">settings</div>
  <h2 class="ms-2 main-panel-header-offset">Settings</h2>
  <hr />
  <div class="row">
    <div class="col-12 col-lg-9">
      <!-- General -->
      <h4 class="ms-2 mb-3">General</h4>
      <form method="post" autocomplete="off" id="form-general">
        {{ form_general.hidden_tag() }}
        <div class="mb-4">
          <label for="cover_url" class="form-label ms-2 fst-italic text-black">· Change blog cover image</label>
          <div class="ms-2 my-2 text-grey fw-light">We recommend using 21:9 image, as cover will be automatically cropped.</div>
          {{ form_general.cover_url(class="form-control border-underline", value=user.cover_url) }}
        </div>
        <div class="mb-4">
          <label for="blogname" class="form-label ms-2 fst-italic text-black">· Change blog name</label>
          {{ form_general.blogname(class="form-control border-underline", value=user.blogname) }}
        </div>
        <div class="mb-4 form-check form-switch ms-2">
          {{ form_general.gallery_enabled(class="form-check-input", checked=user.gallery_enabled) }}
          <label for="gallery_enabled" class="form-check-label ms-2">Enable gallery for your blog</label>
        </div>
        <div class="mb-4 form-check form-switch ms-2">
          {{ form_general.changelog_enabled(class="form-check-input", checked=user.changelog_enabled) }}
          <label for="changelog_enabled" class="form-check-label ms-2">Enable changelog for your blog</label>
        </div>
        <div class="row">
          <div class="col-md-3 col-6 text-end mb-5 ms-auto">{{ form_general.submit_settings(class="btn btn-panel w-100") }}</div>
        </div>
      </form>
      <!-- social links -->
      <h4 class="ms-2 mb-4">Social Links</h4>
      <form method="post" autocomplete="off" id="form-social-links">
        {{ form_social.hidden_tag() }}
        <div id="link-container" class="mb-4">
          <div class="input-group mb-2 {% if not user.social_links[0] %}d-none{% endif %}">
            <span class="input-group-text">Link</span>
            {{ form_social.url0(class="form-control", value=user.social_links[0][0]) }}
            {{ form_social.platform0(class="form-select") }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 {% if not user.social_links[1] %}d-none{% endif %}">
            <span class="input-group-text">Link</span>
            {{ form_social.url1(class="form-control", value=user.social_links[1][0]) }}
            {{ form_social.platform1(class="form-select") }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 {% if not user.social_links[2] %}d-none{% endif %}">
            <span class="input-group-text">Link</span>
            {{ form_social.url2(class="form-control", value=user.social_links[2][0]) }}
            {{ form_social.platform2(class="form-select") }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 {% if not user.social_links[3] %}d-none{% endif %}">
            <span class="input-group-text">Link</span>
            {{ form_social.url3(class="form-control", value=user.social_links[3][0]) }}
            {{ form_social.platform3(class="form-select") }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
          <div class="input-group mb-2 {% if not user.social_links[4] %}d-none{% endif %}">
            <span class="input-group-text">Link</span>
            {{ form_social.url4(class="form-control", value=user.social_links[4][0]) }}
            {{ form_social.platform4(class="form-select") }}
            <button class="btn btn-panel"
                    type="button"
                    onclick="clearInputGroupThenHide(this)">Remove</button>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-2 col-4 ms-auto">
            <button type="button" class="btn btn-panel w-100" onclick="showInputGroup()">Add</button>
          </div>
          <div class="col-md-3 col-6 text-end mb-5">{{ form_social.submit_links(class="btn btn-panel w-100") }}</div>
        </div>
      </form>
      <!-- update pw -->
      <h4 class="ms-2 mb-4">Update Password</h4>
      <form method="post" autocomplete="off" id="form-update-pw">
        {{ form_update_pw.hidden_tag() }}
        <div class="ms-2 mb-3 row">
          <label for="current" class="col-4 form-label">Current Password</label>
          <div class="col-8">{{ form_update_pw.current_pw(class="form-control") }}</div>
        </div>
        <div class="ms-2 mb-3 row">
          <label for="new" class="col-4 form-label">New Password</label>
          <div class="col-8">{{ form_update_pw.new_pw(class="form-control") }}</div>
        </div>
        <div class="ms-2 mb-4 row">
          <label for="confirm" class="col-4 form-label">Confirm New Password</label>
          <div class="col-8">{{ form_update_pw.new_pw_repeat(class="form-control") }}</div>
        </div>
        <div class="row">
          <div class="col-md-3 col-6 text-end mb-4 ms-auto">{{ form_update_pw.submit_pw(class="btn btn-panel w-100") }}</div>
        </div>
      </form>
      <hr />
      <!-- delete -->
      <div class="row">
        <div class="col-md-3 col-6 text-end mt-4 mb-5 ms-auto">
          <button class="btn delete-btn w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#delete">Delete Account</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade"
       id="delete"
       tabindex="-1"
       aria-labelledby="deleteAccountConfirmationModal"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountConfirmationModal">Delete Account</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form method="post" autocomplete="off" id="form-deletion">
          {{ form_deletion.hidden_tag() }}
          <div class="modal-body">
            <p>
              Do you sure you want to delete account? All of your projects and posts
              will be deleted!
            </p>
            <p class="text-dark-grey">
              Type <span class="fw-bold">your password</span> to proceed.
            </p>
            <div class="mb-4">{{ form_deletion.password(class="form-control") }}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            {{ form_deletion.submit_delete(class="btn btn-delete-account") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/backstage/settings.js') }}"></script>{% endblock %}
