{% extends 'base.html' %}
{% block head %}
  <style>
    .hover-pointer:hover {
      cursor: pointer;
    }
  </style>
{% endblock %}
{% block title %}404 Not Found - BlogYourWay{% endblock %}
{% block body %}
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="offset-1 col-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Logo"
             width="36"
             height="36">
      </div>
      <div class="col-auto">
        <a href="/" style="text-decoration:none; color: black;">
          <h3 class="fw-bold pt-2">BlogYourWay</h3>
        </a>
      </div>
    </div>
  </div>
  <!-- desktop -->
  <div class="container d-none d-xxl-block">
    <div class="row pb-5" style="padding-top: 100px">
      <div class="col-6">
        <img class="img-fluid"
             src="{{ url_for('static', filename='img/404.jpg') }}"
             alt="404 not found" />
      </div>
      <div class="offset-1 col-5">
        <h1 class="display-4 fw-bold" style="padding-top: 30%">404 Not Found!</h1>
        <p class="mt-4 fs-5">Oops! The page you are looking for could not be found.</p>
        <p onclick="window.history.go(-1); return false;"
           class="fs-5 hover-pointer">
          <u>👉 Go to the previous page</u>
        </p>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="container d-block d-xxl-none">
    <div class="row pb-5">
      <div class="col-lg-8 col-10 mx-auto mt-5 mb-3">
        <h1 class="display-4 fw-bold">404 Not Found!</h1>
      </div>
      <div class="col-lg-10 col-12 mx-auto my-2">
        <img class="img-fluid"
             src="{{ url_for('static', filename='img/404.jpg') }}"
             alt="404 not found" />
      </div>
      <div class="col-lg-8 col-10 mx-auto">
        <p class="mt-4 fs-5">Oops! The page you are looking for could not be found.</p>
        <p onclick="window.history.go(-1); return false;"
           class="fs-5 hover-pointer">
          <u>👉 Go to the previous page</u>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
