{% extends 'base.html' %}
{% block head %}
  <style>
    .hover-pointer:hover {
      cursor: pointer;
    }
  </style>
{% endblock %}
{% block title %}500 Internal Server Error · BlogYourWay{% endblock %}
{% block body %}
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="offset-1 col-auto">
        <img src="/static/img/logo.png" alt="Logo" width="36" height="36">
      </div>
      <div class="col-auto">
        <a href="/" style="text-decoration:none; color: black;">
          <h3 class="fw-bold pt-2">BlogYourWay</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding-top: 10%">
      <div class="col-md-6 text-center">
        <img class="img-fluid"
             src="/static/img/500.jpg"
             alt=""
             style="padding-top: 10%" />
      </div>
      <div class="col-11 col-md-5 mx-auto">
        <h1 class="display-4 fw-bold"  style="padding-top: 15%">Internal Server Error</h1>
        <p class="mt-4 fs-5">
          Something went wrong. We're looking to see what
          happened.
        </p>
        <p onclick="window.history.go(-1); return false;"
           class="hover-pointer fs-5">
          <u>👉 Go to the previous page</u>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
