{% extends 'base.html' %}
{% block title %}
  Articles · {{ user.blogname }}{%
  endblock %}
  {% block body %}
    {% include 'navbar.html' %}
    {% include 'cover.html'
    %}
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 col-12"
             style="min-height: calc(100vh - 330px)">
          <div class="row">
            <!-- article column -->
            <div class="col-lg-8 col-11 mx-auto mt-4">
              {% if articles | length != 0 %}
                {% for article in articles %}
                  {% set
                  article_link = 'articles/' ~ article.article_uid %}
                  <div class="mt-4 mb-5 ms-2">
                    <a href="{{ article_link }}" class="header-link">
                      <h3 class="fw-bold">{{ article.title }}</h3>
                    </a>
                    <div class="d-flex align-items-center my-3">
                      <a href="about">
                        {% if user.profile_img_url | length == 0 %}
                          <img class="profile-md me-2"
                               src="/static/img/default-profile.png"
                               alt="profile-img" />
                        {% else %}
                          <img class="profile-md me-2"
                               src="{{ user.profile_img_url }}"
                               alt="profile-img" />
                        {% endif %}
                      </a>
                      <a href="about" class="author-link mx-2">{{ article.author }}</a>
                      <div class="grey-text" style="font-size: large">on {{ article.created_at }}</div>
                    </div>
                    <div class="mb-3" style="font-size: large">{{ article.subtitle }}</div>
                    <div class="d-flex align-items-center"
                         style="color: #646464;
                                font-size: large">
                      <span><i class="fa-solid fa-tags"></i></span>
                      {% for tag in article.tags %}
                        {% set tag_link = 'tags?tag=' ~ tag %}
                        <a href="{{ tag_link }}">
                          <span class="badge badge-custom ms-2">{{ tag }}</span>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                  {% if loop.index != articles|length %}<hr />{% endif %}
                {% endfor %}
              {% else %}
                <h5 class="text-start mt-4 fw-bold" style="color: #646464">No article published yet!</h5>
              {% endif %}
            </div>
            <!-- tag column -->
            <div class="d-none d-lg-block col-lg-4">
              <div class="text-start pt-5 ps-3">
                <h5 class="fw-bold mb-3" style="color: #646464">Topics in this blog</h5>
                {% for tag, count in tags.items() %}
                  {% set tag_link = 'tags?tag=' ~
                                    tag %}
                  <a href="{{ tag_link }}" style="text-decoration: none">
                    <span class="badge badge-custom me-2 my-1" style="font-size: small">
                      {{ tag }}
                      <span class="badge ms-2" style="background-color: #535353">{{ count }}</span>
                    </span>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if pagination.is_previous_page_allowed or pagination.is_next_page_allowed
          %}
          <div class="border border-1 text-center py-2 my-3"
               style="background-color: #f5f5f5">
            <div class="row">
              <div class="offset-md-2 col-md-4 col-6 text-start">
                {% if pagination.is_previous_page_allowed %}
                  {% set previous_page = pagination.current_page - 1 %}
                  <a class="btn ms-3"
                     href="{{ '/@' ~ user.username ~ '/blog?page=' ~ previous_page }}">
                    <h5>
                      <span class="mx-1"><i class="fa-solid fa-angles-left"></i></span>
                      Newer Posts
                    </h5>
                  </a>
                {% endif %}
              </div>
              <div class="col-md-4 col-6 text-end">
                {% if pagination.is_next_page_allowed %}
                  {% set next_page = pagination.current_page + 1 %}
                  <a class="btn me-3"
                     href="{{ '/@' ~ user.username ~ '/blog?page=' ~ next_page }}">
                    <h5>
                      Older Posts
                      <span class="mx-1"><i class="fa-solid fa-angles-right"></i></span>
                    </h5>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% include 'footer.html' %}
  {% endblock %}
