<div class="d-none d-md-block">
  <footer class="text-center">
    <p>
      &copy; <span id="currentYear"></span> {{ user['blogname'] }}. Powered by
      <a href="/" style="color: lightgray">BlogYourWay</a>&nbsp;&nbsp;<i class="fa-solid fa-face-smile"></i>
    </p>
  </footer>
</div>

<div class="d-block d-md-none">
  <footer class="text-center">
    <p>
      &copy; <span id="currentYear"></span> {{ user['blogname'] }}. <br />
      Powered by
      <a href="/" style="color: lightgray">BlogYourWay</a>&nbsp;&nbsp;<i class="fa-solid fa-face-smile"></i>
    </p>
  </footer>
</div>
