{% extends 'base.html' %}
{% block title %}BlogYourWay · Share As You Want{% endblock %}
{% block meta_tags %}{% endblock %}
{% block head %}
  <style>
  img {
    width: 100%;
  }
  .get-started-btn {
    background-color: #e4622f;
    color: #ffffff;
    padding: 10px 30px;
}
  </style>
{% endblock %}
{% block body %}
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="offset-1 col-auto">
        <img src="/static/_img/logo.png" alt="Logo" width="36" height="36">
      </div>
      <div class="col">
        <a href="/" style="text-decoration:none; color: black;">
          <h3 class="fw-bold pt-2">BlogYourWay</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-1 col-11 col-md-5 py-4">
        <h1 class="display-4 fw-bold" style="padding-top: 30%; line-height: 105%">
          Share thoughts
          <br />
          and works at once
        </h1>
        <p class="py-4" style="line-height: 150%">
          BlogYourWay is a perfect solution for hosting your content, including
          blogging and work showcases. All come with markdown-support.
        </p>
        <a class="btn get-started-btn fw-bold " href="/register">Get Started</a>
      </div>
      <div class="col-md-6 text-center">
        <img src="/static/_img/l2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="py-5" style="background-color: #f9f9f9">
    <div class="container">
      <div class="text-center pb-3">
        <h3>Features</h3>
      </div>
      <div class="row">
        <div class="col-md-4 pb-3">
          <div class="card rounded-0 border-0 shadow-sm" style="height: 100%;">
            <div class="card-body">
              <h1 class="ps-3 py-3" style="color: #e4622f;">
                <i class="fa-solid fa-pen-to-square"></i>
              </h1>
              <h5 class="card-title py-3">Simple yet intuitive blogging</h5>
              <p class="card-text" style="color: #656979;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3">
          <div class="card rounded-0 border-0 shadow-sm" style="height: 100%;">
            <div class="card-body">
              <h1 class="ps-3 py-3" style="color: #e4622f;">
                <i class="fa-solid fa-palette"></i>
              </h1>
              <h5 class="card-title py-3">Share your works via BlogYourWay</h5>
              <p class="card-text" style="color: #656979;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3">
          <div class="card rounded-0 border-0 shadow-sm" style="height: 100%;">
            <div class="card-body">
              <h1 class="ps-3 py-3" style="color: #e4622f;">
                <i class="fa-solid fa-font-awesome"></i>
              </h1>
              <h5 class="card-title py-3">Create your personal changelog</h5>
              <p class="card-text" style="color: #656979;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <p>
      &copy; <span id="currentYear"></span> BlogYourWay. All rights reserved.
    </p>
  </footer>
{% endblock %}
{% block script %}{% endblock %}
