{% extends 'base.html' %}
{% block head %}
  <style>
    body {
      background-color: #f5f5f5;
    }
    
    .card {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      border-radius: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .branding {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .branding img {
      max-height: 36px; /* Adjust based on your logo size */
      margin-right: 10px;
    }
  </style>
{% endblock %}
{% block title %}Login · BlogYourWay{% endblock %}
{% block body %}
  <div class="container-fluid" style="margin-top: calc(100vh * 0.2);">
    <div class="row">
      <div class="col-10 col-md-12 mx-auto">
        <div class="card bg-white shadow">
          <div class="card-body">
            <div class="container mb-4">
              <div class="row justify-content-center">
                <div class="me-auto col-auto branding">
                  <img src="/static/img/logo.png" alt="Logo">
                  <h3 class="fw-bold pt-2">BlogYourWay</h3>
                </div>
              </div>
            </div>
            <h5 class="text-center my-4">Login</h5>
            <form method="post">
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email" name="email" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       name="password" />
              </div>
              <button type="submit"
                      class="btn btn-primary w-100 rounded-pill"
                      style="background-color: #e4622f;
                             border: 0px">Login</button>
            </form>
            <div class="text-center mt-4">
              Don't have an account? <a href="/register">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
