{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{%
block meta_tags %}
<meta name="description" content="{{ post['subtitle'] }}" />
<meta property="og:image" content="{{ post['cover_url'] }}" />
{% endblock %}
{% block head %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
  function onSubmit(token) {
    document.getElementById("comment-form").submit();
  }
  </script>
  <style>
  .submit-btn {
    text-align: left;
    background-color: black;
    color: white;
    border: 0px;
  }

  .submit-btn:hover {
    background-color: rgb(150, 150, 150);
    color: white;
  }

  .cover {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
  }

  .cover-caption {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font:
      italic smaller "Ubuntu",
      sans-serif;
    padding: 3px;
    text-align: center;
  }
  </style>
{% endblock %}
{% block body %}
  {% include 'navbar.html' %}
  <div class="my-5 row"></div>
  <div class="my-3 row"></div>
  <!-- post starts -->
  <div class="container">
    <div class="row mt-4 mt-md-5">
      <div class="col-lg-8 col-md-10 col-12 mx-auto px-4">
        <h1 class="text-start fw-bold">{{ post.title }}</h1>
        <h3 class="text-start grey-text mt-3">{{ post.subtitle }}</h3>
        <!-- info row -->
        <div class="d-inline-flex">
          <div class="row mt-3">
            <div class="col-1" style="width: 3rem">
              <a href="/@{{ post.author }}/about">
                {% if user.profile_img_url|length == 0 %}
                  <img class="profile-md"
                       src="/static/img/default-profile.png"
                       alt="profile-img" />
                {% else %}
                  <img class="profile-md" src="{{ user.profile_img_url }}" alt="profile-img" />
                {% endif %}
              </a>
            </div>
            <div class="col mt-1 ms-2">
              <div style="line-height: 125%">
                <span class="grey-text">Updated at {{ post.last_updated }}&nbsp;&nbsp;·&nbsp;&nbsp;{{
                  post.readtime }}
                  <br />
                By</span>
                <a class="author-link ms-1" href="/@{{ post.author }}/about">{{ post.author }}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- cover -->
        <figure class="figure cover mt-3">
          <img src="{{ post.cover_url }}"
               class="figure-img img-fluid rounded"
               alt="" />
          <!-- <figcaption class="cover-caption">{{ post.title }}</figcaption> -->
        </figure>
        <!-- content start -->
        <div class="mb-3 px-2">{{ post.content | safe }}</div>
        <!-- tag start -->
        <div class="d-flex align-items-center mb-4"
             style="color: #646464;
                    font-size: large">
          <span><i class="fa-solid fa-tags"></i></span>
          {% for tag in post.tags %}
            {% set tag_link = '/@'~ post.author ~
                        '/tags?tag=' ~ tag %}
            <a href="{{ tag_link }}">
              <span class="badge badge-custom ms-2">{{ tag }}</span>
            </a>
          {% endfor %}
        </div>
        <hr class="mb-4" />
        <h3 class="mb-3">Leave a Comment</h3>
        <form method="POST" id="comment-form" autocomplete="off">
          {% if current_user.is_authenticated %}
            <p>
              You are logged in as
              <span class="fw-bold">{{ current_user.username }}</span>.
            </p>
          {% else %}
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label for="comment-name" class="form-label">
                  Name <span style="color: red">*</span>
                </label>
                <input type="text"
                       class="form-control"
                       id="comment-name"
                       name="name"
                       required />
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label for="comment-email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="comment-email" name="email" />
              </div>
            </div>
          {% endif %}
          <div class="mb-3">
            <label for="comment-text" class="form-label">
              Comment <span style="color: red">*</span>
            </label>
            <textarea class="form-control" id="comment-text" rows="3" name="comment"></textarea>
          </div>
          <div class="text-end mb-4">
            <button class="g-recaptcha btn submit-btn text-center"
                    data-sitekey="6LcU_PwpAAAAADka8qfa2xZIUIh49bp0j6EqeWUf"
                    data-callback="onSubmit"
                    style="width: 25%;
                           min-width: 150px"
                    onclick="return validateForm()">Submit</button>
          </div>
        </form>
        <hr class="mb-4" />
        <h3 class="mb-3">Comments</h3>
        {% if comments|length == 0 %}
          <p class="mb-5">Not comments yet!</p>
        {% else %}
          <div class="mb-5">
            <h5 class="text-start my-4 fw-bold" style="color: #646464">{{ comments|length }} comments</h5>
            {% for comment in comments %}
              {% if comment['profile_link']| length != 0
                %}
                <!-- registered user -->
                <div class="mb-4 d-flex flex-row">
                  <a href="{{ comment['profile_link'] }}">
                    <img class="profile-lg ajax-profile-pic"
                         src="{{ comment['profile_img_url'] }}"
                         alt="profile-img" />
                  </a>
                  <div class="ms-3 mt-1">
                    <div>
                      <a href="{{ comment['profile_link'] }}" style="color: black">
                        <span class="fw-bold">{{ comment['name'] }}</span>
                      </a>
                      <span style="color: #646464">on {{ comment['created_at'] }}</span>
                    </div>
                    <div class="mt-2">{{ comment['comment'] }}</div>
                  </div>
                </div>
              {% else %}
                <!-- visitor -->
                <div class="mb-4 d-flex flex-row">
                  <img class="profile-lg"
                       src="{{ comment['profile_img_url'] }}"
                       alt="profile-img" />
                  <div class="ms-3">
                    <div>
                      <span class="fw-bold">{{ comment['name'] }}</span>
                      <span style="color: #646464">on {{ comment['created_at'] }}</span>
                    </div>
                    <div class="mt-2">{{ comment['comment'] }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
{% block script %}<script src="/static/js/article.js"></script>{% endblock %}
