{% extends 'base.html' %}
{% block title %}About · {{ user.blogname }}{% endblock %}
{% block meta_tags %}{% endblock %}
{% block body %}
  {% include 'navbar.html' %}
  {% include 'cover.html' %}
  <div class="container-fluid" style="min-height: calc(100vh - 330px)">
    <div class="text-center mt-5">
      <h1>About Me</h1>
    </div>
    <div class="row my-3">
      <div class="col-md-1 col-3 mx-auto">
        <hr />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12 col-md-6 mx-auto">
        {% if about|length == 0 %}
          <div class="text-center">
            <p>Well... it seems there's nothing here yet.</p>
          </div>
        {% else %}
          {{ about|safe }}
        {% endif %}
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-1 col-3 mx-auto">
        <hr />
      </div>
    </div>
    <div>
      <div class="row my-3">
        <div class="col-12 col-md-6 mx-auto text-center">
          total views since {{ user.created_at.strftime("%Y.%m.%d") }}: {{ '{:,}'.format(user.total_views) }}
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
