{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="/static/css/signup.css" />{% endblock %}
{% block title %}Sign Up - BlogYourWay{% endblock %}
{%
block body %}
<div class="container-fluid" style="margin-top: calc(100vh * 0.2)">
  <div class="row">
    <form method="post" autocomplete="off" class="col-10 col-md-12 mx-auto">
      <div class="card bg-white shadow" id="step1">
        <div class="card-body">
          <div class="container mb-4">
            <div class="row justify-content-center">
              <div class="me-auto col-auto logo">
                <img src="/static/img/logo.png" alt="Logo" />
                <h3 class="fw-bold pt-2">BlogYourWay</h3>
              </div>
            </div>
          </div>
          <h5 class="text-center my-4">Sign Up</h5>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <input type="email"
                   class="form-control"
                   placeholder="Email"
                   name="email"
                   id="email" />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   name="password"
                   id="password" />
          </div>
          <small style="color: #6c757d">
            <p>
              Password must be 8 characters long, with upper and lower cases
              letters.
            </p>
          </small>
          <button type="button"
                  class="btn btn-primary w-100 rounded-pill"
                  style="background-color: #e4622f;
                         border: 0px"
                  onclick="validateStep1()">Continue</button>
          <div class="text-center mt-4">
            Already have an account? <a href="/login">Login</a>
          </div>
        </div>
      </div>
      <div class="card hide bg-white shadow" id="step2" style="display: none">
        <div class="card-body">
          <div class="container mb-4">
            <div class="row justify-content-center">
              <div class="me-auto col-auto logo">
                <img src="/static/img/logo.png" alt="Logo" />
                <h3 class="fw-bold pt-2">BlogYourWay</h3>
              </div>
            </div>
          </div>
          <h5 class="text-center my-4">Almost Done...</h5>
          <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   name="username"
                   id="username" />
          </div>
          <small class="mb-4" style="color: #6c757d">
            <p>Use only letters (lowercase), numbers, and "-".</p>
          </small>
          <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Blog's name"
                   name="blogname"
                   id="blogname" />
          </div>
          <small class="mb-4" style="color: #6c757d">
            <p>20 characters maximum.</p>
          </small>
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" name="terms" id="terms" />
            <label class="form-check-label" for="terms">
              I understand this is a fully experimental project, there is no
              guarantee of complete data preservation.
            </label>
          </div>
          <button type="submit"
                  class="btn btn-primary w-100 rounded-pill"
                  style="background-color: #e4622f;
                         border: 0px">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}<script src="/static/js/frontstage/signup.js"></script>{% endblock %}
