<div class="d-none d-md-block">
  <footer>
    <p>
      &copy; 2023 {{ user['blogname'] }}. All rights
      reserved.&nbsp;&nbsp;|&nbsp;&nbsp; Powered by
      <a href="/" style="color: white">Little Blog</a>&nbsp;<i
        class="fa-regular fa-face-grin"
      ></i>
    </p>
  </footer>
</div>

<div class="d-md-none">
  <footer class="px-2">
    <p>
      &copy; 2023 {{ user['blogname'] }}. All rights reserved.<br />
      Powered by <a href="/" style="color: white">Little Blog</a>&nbsp;<i
        class="fa-regular fa-face-grin"
      ></i>
    </p>
  </footer>
</div>
