{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}


{% block meta_tags %}
<meta name="description" content="{{ post['subtitle'] }}">
<meta property="og:image" content="{{ post['banner_url'] }}">
{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
	function onSubmit(token) {
		document.getElementById("comment-form").submit();
	}
</script>
<style>
	#reading-progress {
		position: fixed;
		width: 100%;
		height: 5px;
		z-index: 9999;
		top: 60px;
		left: 0;
	}

	#reading-progress-fill {
		height: 5px;
		width: 0;
		-webkit-transition: width 100ms ease;
    -o-transition: width 100ms ease;
    transition: width 100ms ease;
    background-color: #f7966b;
	}	
</style>
{% endblock %}

{% block body%}

{% include 'navbar.html' %}
<div id="reading-progress"><div id="reading-progress-fill"></div></div>
<div class="banner-container" style="background-image: url('{{ post.banner_url }}')"></div>
<!-- post starts -->
<div class="container">
	<div class="row mt-4 mt-md-5">
		<div class="col-12 col-md-7 mx-auto">
			<h1 class="text-center fw-bold">{{ post.title }}</h1>
			<!-- info row from desktop -->
			<div class="d-none d-lg-flex align-items-center justify-content-center mt-3 mb-4">
				<a href="/@{{ post.author }}/about">
					{% if user.profile_img_url|length == 0 %}
					<img src="/static/img/default-profile.png" alt="profile-img" class="profile-xl me-2">
					{% else %}
					<img src="{{ user.profile_img_url }}" alt="profile-img" class="profile-xl me-2">
					{% endif %}
				</a>
				<a href="/@{{ post.author }}/about" class="author-link mx-2"><h4>{{ post.author }}</h4></a>
				<div class="date-text"><h4> · {{ post.readtime }}</h4></div>
			</div>
			<!-- info row from mobile -->
			<div class="d-flex d-lg-none align-items-center justify-content-center my-2">
				<a href="/@{{ post.author }}/about">
					{% if user.profile_img_url|length == 0 %}
					<img src="/static/img/default-profile.png" alt="profile-img" class="profile-sm me-1">
					{% else %}
					<img src="{{ user.profile_img_url }}" alt="profile-img" class="profile-sm me-1">
					{% endif %}
				</a>
				<a href="/@{{ post.author }}/about" class="author-link mx-1 mt-2"><h6>{{ post.author }}</h6></a>
				<div class="date-text mt-2"><h6>· {{ post.readtime }}</h6></div>
			</div>
			<hr>			
			<div style="font-family: 'Noto Sans TC', sans; line-height: 1.6rem;" class="mb-3 px-2">
				<i class="date-text">- Last updated: {{ post.last_updated }}</i>
				{{ post.content | safe }}
			</div>
			<div class="d-flex align-items-center mb-4" style="color: rgb(100, 100, 100) ; font-size: large;">
				<span ><i class="fa-solid fa-tags"></i></span>
				{% for tag in post.tags %}
				{% set tag_link = '/@'~ post.author ~ '/tags?tag=' ~ tag %}
					<a href="{{ tag_link }}"><span class="badge badge-custom ms-2">{{ tag }}</span></a>
				{% endfor %}
			</div>
			<hr class="mb-4">
			<h3 class="mb-3">Leave a Comment</h3>
			<form method="POST" id="comment-form" autocomplete="off">
				{% if current_user.is_authenticated %}
				<p>You are logged in as <span class="fw-bold">{{ current_user.username }}</span>.</p>
				{% else %}
				<div class="row">
					<div class="col-12 col-md-6 mb-3">
						<label for="comment-name" class="form-label">Name <span style="color: red;">*</span></label>
						<input type="text"  class="form-control" id="comment-name" name="name" required>
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="comment-email" class="form-label">Email Address</label>
						<input type="email"  class="form-control" id="comment-email" name="email">
					</div>
				</div>
				{% endif %}
				<div class="mb-3">
					<label for="comment-text" class="form-label">Comment <span style="color: red;">*</span></label>
					<textarea class="form-control" id="comment-text" rows="3" name="comment" required></textarea>
				</div>
				<div class="text-end mb-4">
					<button class="g-recaptcha btn panel-btn text-center" data-sitekey="6LcxqWgnAAAAALNxCvk7tu1tVBikm_zKG54nCP3C" data-callback="onSubmit"
					style="width: 25%; min-width: 150px;" onclick="return validateForm()">Submit</button>
				</div>
			</form>

			<hr class="mb-4">
			<h3 class="mb-3">Comments</h3>
			{% if comments|length == 0 %}
			<p class="mb-5">Not comments yet!</p>
			{% else %}
			<div class="mb-5">
				<h5 class="text-start my-4 fw-bold" style="color: rgb(100, 100, 100);">{{ comments|length }} comments</h5>
				{% for comment in comments %}
				{% if comment['profile_link']| length != 0 %}
				<!-- registered user -->
				<div class="mb-4 d-flex flex-row">
					<a href="{{ comment['profile_link'] }}"><img src="{{ comment['profile_pic'] }}" alt="profile-pic" class="profile-lg ajax-profile-pic"></a>
					<div class="ms-3 mt-1">
						<div><a href="{{ comment['profile_link'] }}" style="color: black;"><span class="fw-bold">{{ comment['name'] }}</span></a><span style="color: rgb(100, 100, 100);"> on {{ comment['created_at'] }}</span></div>
						<div class="mt-2">{{ comment['comment'] }}</div>
					</div>
				</div>
				{% else %}
				<!-- visitor -->
				<div class="mb-4 d-flex flex-row">
					<img src="{{ comment['profile_pic'] }}" alt="profile-pic" class="profile-lg">
					<div class="ms-3">
						<div><span class="fw-bold">{{ comment['name'] }}</span><span style="color: rgb(100, 100, 100);"> on {{ comment['created_at'] }}</span></div>
						<div class="mt-2">{{ comment['comment'] }}</div>
					</div>
				</div>	
				{% endif %}				
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script>
	function validateForm() {
		// Perform input validation for Step 1
		// var email = document.getElementById('email').value;
		// var password = document.getElementById('password').value;

		// // both fields not empty
		// if (email.trim() === '' || password.trim() === '') {
		// 	alert('Enter email and password to continue.');
		// 	return false;
		// }

		// var emailRegex = /^\S+@\S+\.\S+$/;
		// if (!emailRegex.test(email)) {
		// 	alert('Enter a valid email address.');
		// 	return false;
		// }

		// var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
		// if (!passwordRegex.test(password)) {
		// 	alert('Password must be 8 characters long and contain both uppercase and lowercase letters.');
		// 	return false;
		// }

		return true;
	}

	document.getElementById('comment-form').addEventListener('keypress', function(event) {
		if (event.key === 'Enter') {
			event.preventDefault();
		}
	});
</script>
<script>
	// reading progress js
	const readingProgress = document.querySelector('#reading-progress-fill');
	document.addEventListener('scroll', function(e) {
		let w = (document.body.scrollTop || document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight) * 100;
		readingProgress.style.setProperty('width', w + '%');
	});
</script>
<script>
	$(document).ready(function() {
		// Function to make an AJAX request to fetch a replacement image
		function fetchReplacementImage(imgElement) {
			var originalSrc = $(imgElement).attr('src'); // Get the initial src
			$.ajax({
				url: originalSrc, // Use the initial src as the URL
				method: 'GET', // Use GET or any other appropriate method
				success: function(data) {
					// Assuming the data received is a JSON object with an 'imageUrl' property
					if (data.imageUrl) {
						// Update the src attribute of the image element with the fetched replacement URL
						$(imgElement).attr('src', data.imageUrl);
					} else {
						console.log('Image URL not found in the response.');
					}
				},
				error: function() {
					console.log('Error fetching replacement image.');
				}
			});
		}

		// Loop through each image element with the "loop" class and fetch/replace the image
		$('.ajax-profile-pic').each(function() {
			fetchReplacementImage(this);
		});
	});
</script>
<script>
	// Function to send an AJAX request to /readcount-increment
	function sendReadCountRequest() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "/readcount-increment?post_uid={{ post.post_uid }}", true);
		xhr.send();
	}

	// Set a timer to call sendReadCountRequest after 30 seconds
	var timer = setTimeout(sendReadCountRequest, 30000);
</script>

{% endblock %}