{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/main/login.css') }}">
{% endblock %}
{% block title %}Login - BlogYourWay{% endblock %}
{% block body %}
  <div class="container-fluid login-container">
    <div class="row">
      <div class="col-10 col-md-12 mx-auto">
        <div class="card bg-white shadow">
          <div class="card-body">
            <div class="container mb-4">
              <div class="row justify-content-center">
                <div class="me-auto col-auto logo">
                  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                  <h3 class="fw-bold pt-2">BlogYourWay</h3>
                </div>
              </div>
            </div>
            <h5 class="text-center my-4">Login</h5>
            <form method="post">
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email" name="email" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       name="password" />
              </div>
              <button type="submit" class="btn btn-orange w-100 rounded-pill">Login</button>
            </form>
            <div class="text-center mt-4">
              Don't have an account? <a href="{{ url_for("frontstage.signup_get") }}">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
